/*가격 표기 공통*/
.cart_wrap {
  margin: 1em;
}

/*장바구니 리스트 요약*/
.result_summary {
  display: flex;
  justify-content: space-between;
}
.result_summary .itmeNumberTotal::before {
  content: "총 ";
}

/*장바구니 제품 리스트 테이블*/
.cart_box .h3_title {
  margin-bottom: 0;
}
.cart_box .result_table {
  margin: 0.5em 0;
  margin-bottom: 0.5em;
  border-bottom: 2px solid gray;
}
.cart_box .result_table col:nth-child(1) {
  width: 0%;
}
.cart_box .result_table col:nth-child(2) {
  width: 20%;
}
.cart_box .result_table col:nth-child(3) {
  width: 25%;
}
.cart_box .result_table col:nth-child(4) {
  width: 20%;
}
.cart_box .result_table col:nth-child(5) {
  width: 20%;
}
.cart_box .result_table col:nth-child(6) {
  width: 15%;
}

tr.result_item {
  border-bottom: 1px solid var(--btn-common-color);
}
tr.result_item:last-child {
  border-bottom: 0;
}
.result_item td {
  vertical-align: middle;
}
.result_item.num {
  display: block;
  width: 100%;
  text-align: center;
}
.result_item.img {
  display: block;
  margin-left: 1em;
  width: 6em;
  height: 4em;
  object-fit: cover;
  background-color: aliceblue;
  color: transparent;
}
.result_item.price_origin {
  text-decoration: line-through;
}

.result_item.itemSumPrice {
  display: block;
  text-align: center;
  font-size: 1.25em;
}
.result_item.deleteItemBtn {
  float: right;
  font-size: 1.25em;
}
.result_text {
  padding: 1.5em 0 2.5em;
  text-align: center;
  border-bottom: 2px solid gray;
}

/*가격 책정 박스*/
.main_payment_box {
  flex-direction: column;
  justify-content: center;
}
.payment_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.price_box .price_title {
  margin-bottom: 0.625em;
}

.main_payment_box .button_box {
  width: 50%;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .cart_box .result_table colgroup {
    display: none;
  }
  .cart_box .result_table td {
    padding: 0.5em 0;
  }
  .cart_box .result_table td:nth-child(4) {
    padding: 0;
  }
  .cart_box .result_table td:nth-child(5),
  .cart_box .result_table td:nth-child(6) {
    padding-bottom: 1em;
  }

  .cart_box .result_table td:nth-child(3),
  .cart_box .result_table td:nth-child(4),
  .cart_box .result_table td:nth-child(5) {
    display: block;
  }

  .cart_box .result_table td:nth-child(2) {
    vertical-align: top;
    width: 9em;
  }

  .cart_box .result_table td:nth-child(3) > div {
    margin-left: 0;
  }

  .cart_box .result_table .itemPrice {
    display: none;
  }
  .cart_box .result_table td:nth-child(6) {
    position: relative;
    vertical-align: bottom;
    padding-right: 0.5em;
  }
  .cart_box .result_table .itemSumPrice {
    text-align: right;
  }

  .cart_box .result_table td:last-child {
    position: absolute;
    left: 90%;
  }
}
@media screen and (max-width: 480px) {
  .result_item.img {
    margin-top: 0.25em;
    width: 7.5em;
    height: 5em;
  }
  .result_item > .itembuttonBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .result_item.img {
    margin-left: 0;
  }
  .result_item.info {
    margin-left: 1em;
  }

  .payment_box i {
    transform: translateY(0.75em);
  }
  .price_box .price_title {
    margin-bottom: 0;
  }
  .price_box .price_number.text {
    font-size: 1.5em;
  }
  .main_payment_box {
    min-height: 0;
  }
}
