.find_wrap {
  box-sizing: border-box;
  padding: 10px;
}

.category_box {
  margin: 0 auto;
  display: flex;
}

.find_wrap .main_box {
  margin-bottom: 1em;
  min-height: 0;
}
.findItem_box .hash_box {
  justify-content: space-evenly;
}
.hash_box {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.hash_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 6em;
  margin-right: 1em;
}
.hash_column:last-child {
  margin-right: 0;
}
.hash_column li:not(.hidden) {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hash_column .hash_box__title {
  display: block;
  width: 100%;
  margin: 0.25em 0;
  text-align: center;
  font-weight: 600;
  /*
  padding: 3px 0;
  border: 1px solid var(--btn-common-color);
  border-radius: 5px;*/
}

.hash_column .checkHash,
.hash_column .checkRange {
  margin: 0.25em 0;
  color: var(--btn-sub-color);
}
.hash_column:nth-child(5n) .checkHash label {
  background-color: rgb(255, 212, 219);
}
.hash_column:nth-child(5n + 1) .checkHash label {
  background-color: rgb(210, 243, 238);
}
.hash_column:nth-child(5n + 2) .checkHash label {
  background-color: lightgray;
}
.hash_column:nth-child(5n + 3) .checkHash label {
  background-color: rgb(198, 233, 255);
}
.hash_column:nth-child(5n + 4) .checkHash label {
  background-color: rgb(250, 243, 210);
}

.hash_column:nth-child(5n) .checkHash input[type="checkbox"]:checked + label {
  box-shadow: 0 0.2em 0.5em rgba(218, 28, 59, 0.6);
}
.hash_column:nth-child(5n + 1)
  .checkHash
  input[type="checkbox"]:checked
  + label,
.hash_column:nth-child(5n + 1) .checkHash input[type="radio"]:checked + label {
  box-shadow: 0 0.2em 0.5em rgba(17, 127, 141, 0.6);
}
.hash_column:nth-child(5n + 2)
  .checkHash
  input[type="checkbox"]:checked
  + label,
.hash_column:nth-child(5n + 2) .checkHash input[type="radio"]:checked + label {
  box-shadow: 0 0.2em 0.5em rgba(32, 32, 32, 0.6);
}
.hash_column:nth-child(5n + 3)
  .checkHash
  input[type="checkbox"]:checked
  + label,
.hash_column:nth-child(5n + 3) .checkHash input[type="radio"]:checked + label {
  box-shadow: 0 0.2em 0.5em rgba(28, 102, 172, 0.6);
}
.hash_column:nth-child(5n + 4)
  .checkHash
  input[type="checkbox"]:checked
  + label,
.hash_column:nth-child(5n + 4) .checkHash input[type="radio"]:checked + label {
  box-shadow: 0 0.2em 0.5em rgba(226, 131, 22, 0.6);
}

.checkRange {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.checkRange > span {
  margin: 0.25em 0;
}
.checkRange input {
  width: 5em;
  text-align: center;
}

.button_box.find_result_button {
  display: flex;
  justify-content: center;
}

/* 결과박스 */
.result_beforeText {
  text-align: center;
  margin-bottom: 1em;
}

.result_hash_list {
  display: flex;
  margin-bottom: 1em;
}
.result_hash_list li {
  margin-right: 0.25em;
}
.result_hash_list li:last-child {
  margin-right: 0;
}
.result_table {
  width: 100%;
}
.result_table th {
  text-align: left;
  font-weight: 600;
  padding: 0.5em;
  padding-right: 0;
}
.result_table td {
  padding: 1em 0;
}
.result_table thead th:nth-child(1),
.result_table tbody td:nth-child(1) {
  text-align: center;
}
.result_table thead {
  border-top: 2px solid var(--btn-common-color);
  border-bottom: 2px solid var(--btn-common-color);
}

.td_column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result_table .readDetail {
  margin-right: 1em;
}

@media screen and (min-width: 769px) {
  .result_item__nutrient > i,
  .result_item__btnCart > i {
    font-size: 0;
  }
}
@media screen and (max-width: 768px) {
  .result_table col:nth-child(4) {
    width: 17%;
  }
  .result_table col:nth-child(5) {
    width: 13%;
  }

  .result_item__btnCart,
  .result_item__btnCart:active {
    border: none;
    background-color: transparent;
  }
  .result_item__btnCart:active {
    color: var(--btn-emp-color);
    transform: scale(1.1);
  }
  .result_item__nutrient > i,
  .result_item__btnCart > i {
    font-size: 1.5em;
    text-align: center;
  }
  .result_item__nutrient > span,
  .result_item__btnCart > span {
    position: absolute;
    font-size: 0;
  }
}
.result_item__nutrient {
  margin-right: 1em;
}
