/*회원가입*/
.content_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.join_order {
  margin: 30px auto 0;
}

.join_cont {
  margin: 50px auto;
  padding: 3px;
  width: 650px;
}
.join_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.join_box.sns {
  margin: 50px 0;
}

.join_order ol {
  display: flex;
}
.join_order ol li {
  margin-right: 10px;
}

.agreement_box {
  margin: 10px 10px 0;
  display: flex;
  justify-content: space-between;
}
.agreement_all {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--btn-common-color);
  border-radius: 20px;
}
.checkbox {
  display: none;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 0.8em;
  height: 0.8em;
  border: 2px solid var(--btn-common-color);
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox:checked + label::before {
  background-color: var(--btn-emp-color);
  border: 2px solid var(--btn-emp-color);
}
.checkedIcon {
  fill: var(--btn-emp-color);
}

/*테이블*/
.join_box table th,
td {
  padding: 5px 0;
}
.join_box table th {
  text-align: left;
}
.birth_box {
  display: flex;
}
.birth_box input,
select {
  width: 80px;
}
.join_cont .desc_s {
  margin-top: 3px;
}

.h3_title {
  padding-bottom: 10px;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 600;
  border-bottom: 2px solid gray;
}
.desc {
  padding: 15px 0;
  color: var(--desc-color);
  font-size: 15px;
  letter-spacing: -1px;
}

.tap_box {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.button_box {
  display: flex;
  padding-top: 20px;
}
.button_box.sns {
  margin-top: 20px;
  justify-content: space-around;
}
.btn_sns {
  display: block;
  width: 90px;
  height: 90px;
  padding: 10px 0;
  background-color: yellowgreen;
  font-size: 15px;
}

/**/
