/*로그인*/
.login_cont .tap_box {
  margin: 1em 0;
}
.login_cont .logo_box {
  display: flex;
  justify-content: center;
}
.tap_box input[type="radio"]:checked + label {
  font-weight: 600;
  background-color: var(--btn-sub-color);
}
.tap_box input[type="radio"]:not(:checked) + label {
  background-color: var(--btn-common-color);
}
/*로그인 정보 입력 박스*/
.login_box {
  padding: 0 3em;
}

/* 로그인 부가기능 박스*/
.login_convenience {
  display: flex;
  justify-content: center;
}
.login_convenience span {
  margin-right: 1em;
}
.login_convenience span:last-child {
  margin-right: 0;
}
/* 로그인 관련 연결 링크 */
.login_button_box ul {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.login_button_box ul {
  position: relative;
}
.login_button_box ul li a {
  padding: 0 5px;
  color: #adadad;
  font-size: 14px;
}
