:root {
  --slider-min-width: 640px;
  --slider-max-width: 900px;
  --slider-height: 400px;
}

.main_wrap {
  display: flex;
  width: 100%;
}
.main_wrap.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* 슬라이더 배너 영역*/
.slider {
  position: relative;
  margin: 0 auto;

  width: 100%;
  overflow: hidden;
  max-height: var(--slider-height);

  /* z-index: -1; */
}
/* 조작 요소 */
.slider_arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}
.slider_button {
  margin: 0 10px;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}
.slider_pager {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  z-index: 3;
  display: block;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
/* 슬라이드 영역 */
/* .slider_list_wrapper {
  position: relative;
  padding-top: 50%;
  width: 100%;
  overflow: hidden;
  min-width: var(--slider-min-width);
  max-height: var(--slider-height);
}
.slider_list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}*/
.slide_img {
  width: 100%;
  object-fit: cover;
}

/*메인박스 영역*/
.main_box {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 8em;
  padding: 0.5em;
}
.main_box_text {
  min-height: 200px;
  background: url(../../img/main_text_bg1.jpg);
  background-size: cover;
  background-position: center center;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* 상단 박스 */
/*나만의 떡 찾기 영역*/
.text_box {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  text-align: center;
}
.main_box_text .text_box {
  color: white;
  text-align: left;
  margin: 0 0 1em 1em;

  /* background-color: rgba(255, 255, 255, 0.8); */
  /* height: 100%; */
}
.text_box_column {
  margin-top: 1em;
  color: #fff;
}
.text_box_column.bottom {
  padding: 0.5em 0.75em;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.text_box_column.bottom i {
  font-size: 0.8em;
}

/*해시태그 검색 영역*/
.search_box {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.search_input {
  display: flex;
  align-items: center;
}
.search_icon {
  width: 10%;
  display: flex;
  justify-content: center;
  font-size: 1.25em;
}
.search_bar {
  width: 90%;
  height: 2.5em;
}
.search_blur {
  position: relative;
  width: 100%;
  height: 100%;
}
.search_textbox_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.search_textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.search_textbox a {
  margin-top: 0.5em;
  width: fit-content;
  padding: 0.5em 0.75em;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}
.search_hash_blur {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
.hash_blur {
  filter: blur(0.2em);
  box-shadow: 0 0 0.2em 0.2em var(--btn-emp-color);
}

/* 하단 박스 */
/* 다양한 떡 소개 영역 */
.main_intro_box {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
}
.main_intro_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_intro_text_box > .text_box {
  margin-top: 0;
}

.item_box {
  display: grid;
  grid-template-rows: 1fr 0.75fr 3.25fr;
}
.main_intro_title {
  text-align: center;
}
.intro_hash_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_intro_img {
  height: 100%;
  max-height: 10em;
  overflow: hidden;
  background-color: aquamarine;
}
.main_intro_img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 768px) {
  .main_wrap.top {
    grid-template-columns: 1fr;
  }
  .slider_list__slide img {
    min-width: 0;
  }

  .main_intro_box {
    width: 100%;
  }
}
@media screen and (pointer: coarse) and (max-width: 768px) {
  .content_box.main_contents_box {
    margin-top: 0;
  }
  .main_contents_box .main_wrap {
    width: 100vw;
  }
  /* .main_contents_box .main_wrap.top {
    grid-template-rows: 1fr 1fr;
  } */
  .main_box_search {
    width: 100%;
    height: 100%;
  }
  .slider_list__slide img {
    width: 100%;
    object-fit: cover;
  }
}
