:root {
  --slider-width: 640px;
  --slider-height: 400px;
}
.main_wrap {
  width: 100%;
  display: flex;
  border: 1px solid gray;
}

/*상단 슬라이더 영역*/
.slider {
  position: relative;
  margin: 0 auto;
  height: var(--slider-height);
  overflow: hidden;
}
.slider_arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}
.slider_button {
  margin: 0 10px;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}
.slider_pager {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 3;
  display: block;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.slider_list {
  display: flex;
  width: 100%;
}
.slider_list__slide img {
  object-fit: contain;
}

/*메인박스 영역*/
.main_box {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  height: 8em;
  border: 1px solid gray;
  padding: 7px;
}
.main_box_text {
  min-height: 200px;
  background: url(../../img/main_text_bg.jpg);
  background-size: cover;
  background-position: center center;
}

/*좌측 영역*/
.text_box {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
}
.text_box_column {
  margin-top: 15px;
}
.text_box_column.top {
}
.text_box_column.bottom {
  padding: 8px 10px;
}
.text_box_column.bottom i {
  font-size: 0.8em;
}
.text_box a {
  background-color: rgba(255, 255, 255, 0.5);
}

/*우측 검색 영역*/
.search_input {
  display: flex;
  align-items: center;
}
.search_icon {
  width: 10%;
}
.search_bar {
  width: 90%;
  height: 2.5em;
}
.search_blur {
  width: 50%;
  background-color: thistle;
}
.search_textbox {
  display: flex;
  flex-direction: column;
}
