.wrapper {
  padding: 1em;
  display: flex;
  justify-content: center;
}
/*사이드 메뉴*/
.asideMenu {
  width: 11em;
  padding-right: 0.5em;
  border-right: 1px solid var(--btn-common-color);
}
.asideMenu h1 {
  margin-bottom: 0.5em;
  color: #fff;
  background-color: var(--btn-sub-color);
  border: none;
}
.asideMenu_box .h4_title {
  display: inline-block;
  width: 100%;
}
.aside_list {
  margin: 0.25em 0 0 0.5em;
}
.aside_list li {
  margin-bottom: 0.5em;
}
.aside_list a {
  color: var(--btn-common-color);
}
.aside_list a:hover {
  font-weight: 600;
  color: var(--text-emp-color);
}

@media screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
  }
  .asideMenu {
    width: 100%;
    border-right: none;
    margin-bottom: 1em;
  }
  .asideMenu > h1 {
    text-align: center;
  }
  .asideMenu_box {
    margin: 0;
  }
  .asideMenu_box > .h4_title {
    display: none;
  }
  .aside_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
    margin: 0;
    padding: 5.5em 0 0.75em;
    border: 1px solid var(--btn-common-color);
    border-radius: 0.5em;
  }
  .aside_list > li {
    position: relative;
    margin: 0;
  }
  .aside_list a::before {
    font-family: "FontAwesome";
    position: absolute;
    bottom: 0.75em;
    left: 0.5em;
    font-size: 3em;
  }
  .aside_list li:nth-child(1) a::before {
    content: "\f0d1";
  }
  .aside_list li:nth-child(2) a::before {
    content: "\f466";
  }
  .aside_list li:nth-child(3) a::before {
    content: "\f3c5";
  }
  .aside_list li:nth-child(4) a::before {
    left: 0.3em;
    content: "\f53d";
  }
  .aside_list a {
    color: var(--btn-sub-color);
  }
}

/*본문 섹션*/
.content_box.withAside {
  width: 80%;
  max-width: 80em;
}
.content_box.withAside .main_box:first-child {
  max-height: 8em;
}
.content_box.withAside .button_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_box_column {
  margin: 0.5em 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.periodSelfInput input[type="date"] {
  font-size: 0.85em;
  padding: 0.2em 0;
}
.button_box_column * {
  margin-left: 0.25em;
}
.button_box_column *:first-child {
  margin-left: 0;
}

@media screen and (max-width: 875px) {
  .content_box.withAside .main_box:first-child {
    max-height: 10em;
  }
  .button_box {
    flex-wrap: wrap;
    width: 100%;
  }
  .button_box_column {
    width: 100%;
  }
  .button_box_column:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .content_box.withAside {
    width: 100%;
  }
}
/**/

.orderList_list_box {
  margin: 0.5em;
}
.orderList_top {
  display: flex;
  justify-content: space-between;
}
.orderList_table {
  width: 100%;
  margin-top: 1em;
  border-top: 1px solid var(--compo-common-color);
}
.orderList_table tr {
  border-bottom: 1px solid var(--compo-common-color);
}
.orderList_table th,
.orderList_table td {
  padding: 1em 0;
}
.orderList_bottom {
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-end;
}
