.wrapper {
  display: flex;
}
/*사이드 메뉴*/
.asideMenu {
  width: 20%;
  min-width: 11em;
  border-right: 1px solid var(--btn-common-color);
}
.asideMenu .asideMenu_box {
  margin: 0 1em;
}

/*본문 섹션*/
.content_box.withAside {
  width: 80%;
}
