@import "../reset.css";
@import "../common.css";

:root {
  --menu-color: rgb(228, 228, 228);
  --menuEmp-color: rgba(0, 0, 0, 0.4);
  --column-color: rgb(221, 236, 202);
}

.hidden {
  display: none !important;
}
button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: #fff;
}
button.emp-color {
  background-color: #00bf72;
  color: #fff;
}
.textBtn {
  border: none;
  background: none;
}
.textBtn:active {
  color: #008793;
  background: none;
}

/* 헤더 */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  background-color: var(--menu-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.headerWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 800px;
}
.headerColumn-left,
.headerColumn-right {
  display: flex;
}

.headerMenu,
.header-userName {
  padding: 1em 2em;
  cursor: default;
}
.headerMenu:hover {
  color: #fff;
  background-color: var(--menuEmp-color);
}
.header-userName::after {
  content: " 님";
}
.headerMenu {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.header-logoutBtn {
  margin: 0.5em 1em;
  padding: 0.5em 1em;
}

/* 본문 */
.wrapper {
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-top: 4em;
}
.pageTitle {
  margin: 0.25em 0 0.5em;
  font-size: 2em;
  font-weight: 700;
}
.top-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

/*테이블*/
table,
th,
td {
  border-collapse: collapse;
}
.table {
  table-layout: fixed;
  border: 2px solid #000;
}
.thead {
  background-color: var(--column-color);
  font-weight: 700;
  border: 1px solid #000;

  padding: 0.25em 0;
  vertical-align: middle;
}
.trow {
  padding: 0.25em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.multirow {
  border-bottom: 1px solid #000;
}
.thead,
.tdata {
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  line-height: 150%;
  padding-left: 0.25em;
  text-align: center;
}
.tdata {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/*내용 가림없이 전체보이기*/
.tdata.expand {
  overflow: hidden;
  white-space: normal;
}

.trow:last-child {
  border-bottom: none;
}
.thead:last-child,
.table td:last-child {
  border-right: none;
}
.tbody {
  max-height: 70vh;
  overflow-y: scroll;
}

/*메뉴1 본문*/
.sendDate,
.paymentDate,
.deliveryType,
.purchaserName,
.purchaserPhone,
.receiverName,
.receiverPhone,
.itemName,
.orderItemList,
.quantity,
.eachTotalPrice,
.optionInfo,
.deliveryDestination,
.deliveryMsg,
.deliveryDate {
  max-width: 7em;
}

/* 수기 등록 입력창 */
.manual {
  margin: 0 auto;
  padding: 2em;
  width: 70vw;
  background-color: #fff;
}
.manualTitle {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}
.manualBody,
.manualTable {
  width: 100%;
}
.manualTable {
  margin: 1.5em 0;
}
.manualRow {
  margin-bottom: 0.25em;
  display: grid;
  grid-template-columns: 10em auto;
}
.manualTh {
  text-align: left;
  line-height: 150%;
  padding-right: 0.5em;
}
.manualInput-half {
  width: 50%;
}
.manualInput-unitBox {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1em;
}
.manualInputColumn {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.manualListItem {
  min-width: 430px;
  margin-bottom: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}
.manualListTitle {
  margin-bottom: 0.5em;
  padding: 0.25em;
  text-align: center;
  font-weight: 700;
  background-color: var(--menu-color);
}
.manualList {
  display: grid;
  grid-template-columns: 10em auto;
  margin: 0.25em 1em;
}
.manualInput.eachTotalPrice-input {
  text-align: right;
}

.manualListBtnBox {
  display: flex;
  justify-content: flex-end;
}
.manualBtnBox {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.manualEnterBtn,
.manualCancelBtn {
  width: 8em;
  margin: 0 1em;
}

/*메뉴2*/
/*검색창*/
.top-searchBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.top-searchBtnBox {
  display: flex;
  justify-content: right;
}
.searchTextInput {
  width: 20em;
}

/*============스마트스토어 로그인, 회원가입 ===============*/
.loginbg {
  background: #008793;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  height: 100vh;
}
.loginBox {
  margin: 20vh auto 0;
  padding: 2em 2em;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1em;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.3);
}
.loginBox .logo {
  margin-bottom: 1em;
}
.loginBox_row {
  margin: 0.75em 0.5em;
  width: 100%;
  text-align: center;
}
.loginBox_row .loginInput {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.loginBox_row.buttonBox {
  display: flex;
  justify-content: center;
  width: 50%;
}
.buttonBox > button {
  width: 100px;
  margin-right: 0.5em;
}
