/* 게시판 */

.board-table {
  width: 100%;
  border-top: 2px solid var(--main-green);
  border-bottom: 2px solid var(--main-green);
}
.board-table th {
  font-weight: 600;
}
.board-table th,
.board-table td {
  padding: 0.5em;
}
.board-row {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/*비밀글 표시용*/
.postPrivate::after {
  content: "\f023";
  font-family: "FontAwesome";
}
.board-ask-replyNumber {
  color: red;
}
.board-ask-replyNumber::before {
  content: "[";
}
.board-ask-replyNumber::after {
  content: "]";
}

/* 공지사항 게시판 */
.board-listFuncBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.board-notice-num {
  width: 3em;
  text-align: center;
}
.board-notice-title {
  text-align: center;
}
.board-notice-title:hover {
  text-decoration: underline;
}
.board-notice-date {
  width: 8em;
  text-align: center;
}

/*고객센터 게시판*/
.board-ask-num {
  width: 3em;
  text-align: center;
}
.board-ask-type {
  width: 5em;
  text-align: center;
}
.board-ask-title {
  text-align: center;
}
.board-ask-title:hover {
  text-decoration: underline;
}
.board-ask-date {
  width: 7em;
  text-align: center;
}
.board-ask-writer {
  width: 5em;
  text-align: center;
}

/* 모바일에서는 번호 생략, 날짜 작게 아래쪽 표기하는게 깔끔할듯 */
@media screen and (hover: none) and (max-width: 768px) {
  .board-notice-num {
    display: none;
  }
}

/* 게시글 읽기 */
.post {
  padding: 1em 0;
}
.post-titleBox {
  display: flex;
  justify-content: space-between;
}
.post-subInfo {
}
.post-category {
  margin-right: 0.5em;
  color: rgba(0, 0, 0, 0.5);
}
.post-title {
  font-size: 16pt;
  margin-bottom: 0.5em;
}
.post-date {
  font-size: 17px;
}
.post-body {
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-reply {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* 게시글 작성 */
.post-categoryBox {
  display: grid;
  grid-template-columns: 6em 10em;
}
.post-inputTitleBox,
.post-fileBox,
.post-setBox {
  display: grid;
  grid-template-columns: 6em auto;
}

.post-inputTitle {
  width: 100%;
}
.post-inputText {
  width: 100%;
  resize: none;
}
