header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header a {
  cursor: pointer;
}
/*헤더 윗단*/
.gnb_util {
  display: flex;
  justify-content: flex-end;
  padding: 1.55em 1em;
  background-color: var(--header-dark-color);
}
.gnb_util.gnb_util-makers {
  justify-content: space-between;
}
.gnb_util ul {
  display: flex;
  margin: 0 1.25em;
}
.gnb_util li:last-child {
  margin-right: 0;
}
.gnb_util ul li {
  margin-right: 0.5em;
}

.gnb_util ul li a {
  color: white;
  font-size: 1em;
}
.gnb_util ul li a:hover {
  font-weight: 600;
}

/*헤더 아랫단*/
.gnb_box {
  height: 5.375em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 730px;
}

.gnb_box .logo {
  margin: 0 30px 15px 0;
}
.gnb_box ul {
  display: flex;
}
.gnb_box li:last-child {
  margin-right: 0;
}
.gnb_box ul li {
  margin: auto 1.5em auto 0;
}
.gnb_box ul li a {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.gnb_box ul li a:hover {
  color: var(--btn-emp-color);
}
.gnb_customer li a {
  color: var(--header-dark-color);
}
.gnb_makers {
  margin-right: 2em;
}
.gnb_makers li a {
  color: var(--desc-color);
}

/* 모바일: UI변경 */
@media screen and (pointer: coars) and (max-width: 768px) {
  .gnb_box {
    height: 4em;
    min-width: 0;
    width: 100vw;
  }
  .gnb_box > .logo {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .gnb_menu {
    margin-right: 1em;
  }
  .gnb_menu > li > a {
    color: #000;
  }
}

/*============ 모바일용 gnb 사이드 메뉴 ============ */
.gnb_side {
  display: none;
}
@media screen and (pointer: coarse) and (max-width: 768px) {
  .gnb_side_wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
    animation: gnbSideWrapperFadeOff 0.4s ease-in forwards;
  }
  .gnb_side_wrapper.open {
    background-color: rgba(0, 0, 0, 0);
    animation: gnbSideWrapperFadeOn 0.4s ease-in forwards;
  }

  @keyframes gnbSideWrapperFadeOn {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes gnbSideWrapperFadeOff {
    0% {
      background-color: rgba(0, 0, 0, 0.3);
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .gnb_side {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    z-index: 10;
    background-color: #fff;

    animation: gnbSideClose 0.4s ease-out forwards;
  }
  .gnb_side.open {
    transform: translateX(80vw);
    animation: gnbSideOpen 0.4s ease-in forwards;
  }

  @keyframes gnbSideOpen {
    0% {
      transform: translateX(80vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes gnbSideClose {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(80vw);
    }
  }

  /* 상단 초록 배경 */
  .gnb_side__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 1em 2em;
    color: #fff;
    background-color: var(--btn-emp-color);
  }
  .gnb_side__top > ul {
    display: flex;
  }
  .gnb_side__top_btns {
    justify-content: flex-end;
    align-items: center;
  }
  .gnb_side__top a {
    color: #fff;
  }
  .gnb_side__top_btns li:first-child,
  .gnb_side__top_mymenu li:first-child {
    margin-right: 1em;
  }
  .gnb_side__top_user {
    margin: 1.5em 0;
    flex-direction: column;
    align-items: center;
  }
  .gnb_side__top_user li {
    margin: 0.25em;
  }
  .gnb_side__top_mymenu {
    justify-content: center;
  }
  .gnb_side__top_mymenu li {
    padding: 0.5em 1em;
    border: 1px solid #fff;
  }

  /* 리스트 부분*/
  .gnb_side__middle {
    margin: 0 1em;
  }
  .gnb_side__menu li {
    padding: 1em 0.5em;
    border-bottom: 1px solid var(--compo-common-color);
  }
  .gnb_side__menu a {
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  .gnb_side {
    width: 80vw;
    height: 100vh;
  }
}
