header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/*헤더 윗단*/
.gnb_util {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  background-color: var(--header-dark-color);
}
.gnb_util ul {
  display: flex;
  margin-right: 20px;
}
.gnb_util li:last-child {
  margin-right: 0;
}
.gnb_util ul li {
  margin-right: 10px;
}

.gnb_util ul li a {
  color: white;
  font-size: 13px;
}
.gnb_util ul li a:hover {
  font-weight: 600;
}

/*헤더 아랫단*/
.gnb_box {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.gnb_box .logo {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 0 30px 15px 0;
  font-size: 0;
  background: url("../../img/logo_monthlyMill.png");
  background-size: cover;
  background-position: center;
}
.gnb_box ul {
  display: flex;
}
.gnb_box li:last-child {
  margin-right: 0;
}
.gnb_box ul li {
  margin: auto 25px auto 0;
}
.gnb_box ul li a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
}
.gnb_box ul li a:hover {
  color: var(--btn-emp-color);
}
.gnb_customer li a {
  color: var(--header-dark-color);
}
.gnb_makers {
  margin-right: 30px;
}
.gnb_makers li a {
  color: var(--desc-color);
}
