header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/*헤더 윗단*/
.gnb_util {
  display: flex;
  justify-content: flex-end;
  padding: 0.5675em;
  background-color: var(--header-dark-color);
}
.gnb_util ul {
  display: flex;
  margin-right: 20px;
}
.gnb_util li:last-child {
  margin-right: 0;
}
.gnb_util ul li {
  margin-right: 10px;
}

.gnb_util ul li a {
  color: white;
  font-size: 0.825rem;
}
.gnb_util ul li a:hover {
  font-weight: 600;
}

/*헤더 아랫단*/
.gnb_box {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 730px;
}

.gnb_box .logo {
  margin: 0 30px 15px 0;
}
.gnb_box ul {
  display: flex;
}
.gnb_box li:last-child {
  margin-right: 0;
}
.gnb_box ul li {
  margin: auto 1.5em auto 0;
}
.gnb_box ul li a {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.gnb_box ul li a:hover {
  color: var(--btn-emp-color);
}
.gnb_customer li a {
  color: var(--header-dark-color);
}
.gnb_makers {
  margin-right: 30px;
}
.gnb_makers li a {
  color: var(--desc-color);
}
/* 모바일: 메뉴 아이콘 추가됨 */
@media screen and (max-width: var(--mobile-width)) {
  /*
  .gnb_box:after {
    content: "f0c9";
    font: fontawesome;
  }
  */
}
