@import "reset.css";

/* Common Component */
@import "components/header.css";

/* Screens */
@import "screens/main.css";
@import "screens/introduce.css";
@import "screens/findItem.css";
@import "screens/cart.css";
@import "screens/payment.css";
@import "screens/orderList.css";
@import "screens/login.css";
@import "screens/join.css";

:root {
  --font: "ChosunGu";
  --text-emp-color: #009207;
  --desc-color: rgb(147, 148, 147);

  --header-dark-color: #101010;

  --btn-common-color: #919191;
  --btn-emp-color: #308034;
  --btn-sub-color: #101010;

  --compo-common-color: #c4c4c4;
}

h1,
h2,
h3,
p,
span,
button,
input,
div,
select,
li {
  font-family: var(--font);
}
p {
  line-height: 120%;
}

/* 버튼 */
.btn {
  background-color: var(--btn-common-color);
  color: white;
  border: none;
  text-align: center;
}
.btn.sub {
  background-color: var(--btn-sub-color);
}
.btn.emp {
  background-color: var(--btn-emp-color);
}
.btn_text {
  background-color: transparent;
  border: none;
  color: var(--btn-emp-color);
  padding: 1px;
  border-bottom: 1px solid var(--btn-emp-color);
}
.btn.mid {
  margin: 0 10px;
  width: 50%;
  padding: 15px 0;
  border-radius: 30px;
  font-size: 15px;
}
.btn.big {
  width: 100%;
  padding: 25px;
  border-radius: 40px;
  font-size: 18px;
}
.btn.small {
  margin: 0 10px;
  width: 20%;
  padding: 10px 0;
  border-radius: 20px;
}
.hidden {
  display: none;
}
/* 텍스트 */
.h1_title {
  margin-bottom: 0.75em;
}
.h4_title {
  font-weight: 600;
  margin-bottom: 0.5em;
}
.desc_s {
  font-size: 12px;
  color: var(--desc-color);
}
.text.emp {
  color: var(--text-emp-color);
  font-weight: 600;
}
.text.big {
  font-size: 2em;
}
.text.mid {
  font-size: 1.5em;
}
.text.sm {
  font-size: 1.25em;
}
.text.indent {
  margin-left: 0.4em;
}
.text.boxborder {
  padding: 0.5em;
  border: 1px solid var(--btn-common-color);
  border-radius: 0.25em;
}

/*기타*/
.hash {
  margin: 2px;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: var(--btn-emp-color);
  color: white;
}
.cutLine {
  content: "";
  display: inline-block;
  width: 1px;
  height: 3em;
  /*margin-left: 0.5em;*/
  background-color: var(--btn-common-color);
  transform: translateY(1.25em);
}
.logo {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 0;
  background: url("../img/logo_monthlyMill.png");
  background-size: cover;
  background-position: center;
}
.logo.big {
  width: 300px;
  height: 75px;
}

/*grid box*/
.grid_box {
  display: grid;
}

/* font */
@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
