@import "//cdn.jsdelivr.net/npm/font-kopubworld@1.0";
/*L 300 M 400 B 700*/

@import "reset.css";
@import "common.css";

/* Common Component */
@import "components/header.css";
@import "components/footer.css";
@import "components/popup.css";
@import "components/board.css";

/* Screens */

@import "makers/makerMain.css";
@import "makers/makerMatch.css";
@import "makers/makerJoin.css";
@import "makers/makerMypage.css";

.wrapper {
  /* max-width: ; */
  margin: 0 auto;
  padding: 2em 1em;
}
.element_box {
  margin: 1.5em 0;
}
