<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>

    <section class="content_box main_contents_box">
      <!-- 슬라이드 배너-->
      <div class="main_wrap banner">
        <div class="slider">
          <div class="slider_arrows">
            <div class="slider_button prev" id="slidePrev">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="slider_button next" id="slideNext">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="slider_pager">
            <span class="slider_pager__number"></span>
          </div>
          <div class="slider_list_wrapper">
            <ul class="slider_list">
              <li class="slide">
                <img
                  src="../../static/img/main_slide_1.jpg"
                  alt=""
                  class="slide_img"
                />
                <img
                  th:src="@{/img/main_slide_1.jpg}"
                  alt=""
                  class="slide_img"
                />
              </li>
              <li class="slide">
                <img
                  src="../../static/img/main_slide_2.jpg"
                  alt=""
                  class="slide_img"
                />
                <img
                  th:src="@{/img/main_slide_2.jpg}"
                  alt=""
                  class="slide_img"
                />
              </li>
              <li class="slide">
                <img
                  src="../../static/img/main_slide_3.jpg"
                  alt=""
                  class="slide_img"
                />
                <img
                  th:src="@{/img/main_slide_3.jpg}"
                  alt=""
                  class="slide_img"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 상단 -->
      <div class="main_wrap top">
        <div class="main_box main_box_text">
          <div class="text_box">
            <div class="text_box_column top">
              <p>
                월간방앗간이 추천드리는 <br />
                <span class="text sm empLight">#나만의 떡</span> <br />
                같이 찾으러 가봐요.
              </p>
            </div>
            <a
              class="text_box_column bottom boxborder"
              th:href="@{/customer/recommend/findItem}"
              >나만의 떡 찾으러 가기
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="main_box main_box_search">
          <div class="search_box">
            <div class="search_input">
              <div class="search_icon">
                <i class="fas fa-search"></i>
              </div>
              <input
                type="text"
                class="search_bar"
                placeholder="나에게 어울리는 떡을 찾아 검색해주세요."
                readonly
              />
            </div>
            <div class="search_blur">
              <div
                class="hidden loginCheck"
                th:if="${loginCheck != null or loginCheck != ''}"
                th:value="${loginCheck}"
              ></div>
              <div class="search_textbox_wrap">
                <div class="search_textbox btn_white">
                  <span>회원가입 후 확인이 가능해요!</span>
                  <a th:href="@{/join/join_method}" class="">
                    <span>회원가입하러 가기</span>
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>
              </div>
              <div class="search_hash_blur">
                <!-- <span class="hash hash_blur">블러해시</span>
                <span class="hash hash_blur">블러해시</span>
                <span class="hash hash_blur">블러해시</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 하단 -->
      <div class="main_wrap bottom hidden">
        <div class="main_box main_intro_box_wrap">
          <div class="main_intro_box">
            <!--좌측-->
            <div class="main_intro_text_box">
              <div class="text_box">
                <p>
                  월간방앗간의 <br />
                  <span class="text emp">#다양한 떡</span>을 <br />
                  소개합니다.
                </p>
              </div>
              <div class="arrow_box" href="#">
                <i class="fas fa-chevron-left"></i>
                <span>1/5</span>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>

            <!--우측-->
            <div class="item_box">
              <div class="main_intro_title">
                <p class="boxborder">백설기</p>
              </div>
              <ul class="intro_hash_box">
                <li>
                  <span class="hash">해시</span>
                </li>
                <li>
                  <span class="hash">해시</span>
                </li>
                <li>
                  <span class="hash">해시</span>
                </li>
              </ul>
              <div class="main_intro_img">
                <img src="" alt="떡이미지" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer></footer>
<!-- 
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../../static/js/layout_front.js"></script>
    <script
      type="text/javascript"
      src="../../static/js/mainPage_front.js"
    ></script>
 -->
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/mainPage_front.js}"></script> 
  </body>
</html>
