<div class="gnbAdmin_wrapper">
  <ul class="gnbAdmin_main">
    <li>
      <a href="#">관리자 계정관리</a>
    </li>
    <li>
      <div class="gnbAdmin_main__nameBox">
        <a href="#">대메뉴</a>
        <button class="gnbAdmin_toggle btn noStyle">
          <i class="fas fa-chevron-down"></i>
        </button>
      </div>
      <ul class="gnbAdmin_sub hidden">
        <li><a href="#">소메뉴</a></li>
        <li><a href="#">소메뉴</a></li>
        <li><a href="#">소메뉴</a></li>
      </ul>
    </li>
    <li>
      <div class="gnbAdmin_main__nameBox">
        <a href="#">상품</a>
        <button class="gnbAdmin_toggle btn noStyle toggle_open">
          <i class="fas fa-chevron-up"></i>
        </button>
      </div>
      <ul class="gnbAdmin_sub">
        <li><a href="#">상품등록</a></li>
        <li><a href="#">상품조회/수정</a></li>
        <li><a href="#">상품문의관리</a></li>
      </ul>
    </li>
    <li>
      <div class="gnbAdmin_main__nameBox">
        <a href="#">메이커스</a>
        <button class="gnbAdmin_toggle btn noStyle">
          <i class="fas fa-chevron-down"></i>
        </button>
      </div>
      <ul class="gnbAdmin_sub hidden">
        <li><a href="#">메이커스 승인</a></li>
        <li><a href="#">메이커스 조회/수정</a></li>
      </ul>
    </li>
  </ul>
</div>
