<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div class="gnb_util">
    <ul>
      <li>
        <a
          th:if="${session.SID == null}"
          th:href="@{/join/join_method}"
          class="gnb_util__join"
          ><span>회원가입</span></a
        >
        <a
          th:if="${session.SID != null}"
          class="gnb_util__join"
          th:href="@{/customer/order/orderList}"
          ><span>[[${session.SNAME}]]님 환영합니다</span></a
        >
      </li>
      <li>
        <a
          th:if="${session.SID == null}"
          th:href="@{/login}"
          class="gnb_util__login"
          ><span>로그인</span></a
        >
      </li>
      <li>
        <a
          th:if="${session.SID != null}"
          th:href="@{/logout}"
          class="gnb_util__login"
          ><span>로그아웃</span></a
        >
      </li>
      <li>
        <a th:href="@{/customer/cart/cartList}"><span>my찜</span></a>
      </li>
      <li>
        <a th:href="@{/customer/cart/cartList}"><span>장바구니</span></a>
      </li>
      <li>
        <a th:href="@{/customer/cart/cartList}"><span>주문/배송</span></a>
      </li>
    </ul>
  </div>
  <div class="gnb_box">
    <ul class="gnb_customer">
      <a class="logo" th:href="@{/}">로고 이미지</a>
      <li><a th:href="@{/introduce}">월간방앗간 소개</a></li>
      <li><a th:href="@{/customer/recommend/findItem}">나만의 떡 찾기</a></li>
      <li><a href="#" class="noPage">월간방앗간 MENU</a></li>
      <li><a href="#" class="noPage">이벤트&공지사항</a></li>
      <li><a href="#" class="noPage">고객센터</a></li>
    </ul>
    <ul class="gnb_makers">
      <li><a href="#" class="goToMakersMainPage">메이커스</a></li>
      <input class="loginMCate" type="hidden" th:value="${session.SLEVEL}" />
    </ul>
  </div>
  <!-- 
  <script th:inline="javascript">
  	var SLEVEL = '';
  	/*<![CDATA[*/
  		SLEVEL = [[${session.SLEVEL}]];
  	/*]]>*/
  
  </script> -->
</html>
