<div class="asideWrapper">
  <div class="asideMenu_title">
    <i class="fas fa-user asideUserIcon"></i>
    <h1 class="text mid aside-userName">[[${session.SNAME}]]</h1>
    <span class="">님</span>
  </div>
  <div class="asideMenu_box">
    <ul class="aside_list">
      <h4 class="aside_title text">마이페이지</h4>
      <li class="aside_list__pagelink">
        <a href="/makers/myPage/user/basicInfo">회원정보 관리</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="/makers/myPage/storeInfo">입점정보 관리</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="/makers/myPage/user/additionalInfo">추가정보 관리</a>
      </li>
    </ul>
    <ul class="aside_list">
      <h4 class="aside_title text">My매칭</h4>
      <li class="aside_list__pagelink">
        <a href="/makers/myMatch/state">매칭 현황</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="/makers/myMatch/history">매칭 이력</a>
      </li>
    </ul>
    <h4 class="aside_title text">정산</h4>
  </div>
</div>
