<div class="asideWrapper">
  <h1 class="text mid boxborder">메이커 이름</h1>
  <div class="asideMenu_box">
    <ul class="aside_list">
      <h3 class="h4_title text boxborder">마이페이지</h3>
      <li class="aside_list__pagelink">
        <a href="/customer/order/orderList">회원정보 관리</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="/customer/order/cancelOrderList">입점정보 관리</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="#">추가정보 관리</a>
      </li>
    </ul>
    <ul class="aside_list">
      <h3 class="h4_title text boxborder">My매칭</h3>
      <li class="aside_list__pagelink">
        <a href="#">매칭 현황</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="#">매칭 이력</a>
      </li>
    </ul>
    <h3 class="h4_title text boxborder">정산</h3>
  </div>
</div>
