
	<div class="asideWrapper">
	  <h1 class="text mid boxborder">My월간방앗간</h1>
	  <div class="asideMenu_box">
	    <h3 class="h4_title text boxborder">나의 주문정보</h3>
	    <ul class="aside_list">
	      <li class="aside_list__pagelink">
	        <a href="/customer/order/orderList">주문/배송 조회</a>
	      </li>
	      <li class="aside_list__pagelink">
	        <a href="/customer/order/cancelOrderList">취소/반품 조회</a>
	      </li>
	      <li class="aside_list__pagelink">
	        <a href="#">배송지 관리</a>
	      </li>
	      <li class="aside_list__pagelink">
	        <a href="#">환불계좌 관리</a>
	      </li>
	    </ul>
	  </div>
	</div>
