<div class="asideWrapper">
  <div class="asideMenu_box">
    <h3 class="h4_title text boxborder">마이페이지</h3>
    <ul class="aside_list">
      <li class="aside_list__pagelink">
        <a href="/customer/order/orderList">회원정보관리</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="/customer/order/cancelOrderList">쿠폰 조회</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="#">문의 내역</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="#">my찜</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="#">장바구니</a>
      </li>
    </ul>
    <h3 class="h4_title text boxborder">나의 주문정보</h3>
    <ul class="aside_list">
      <li class="aside_list__pagelink">
        <a href="/customer/order/orderList">주문/배송 조회</a>
      </li>
      <li class="aside_list__pagelink">
        <a href="/customer/order/cancelOrderList">취소/반품 조회</a>
      </li>
    </ul>
  </div>
</div>
