<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
      <div class="logo">로고 이미지</div>
      <div class="gnb_box">
        <ul>
          <li><a href="#">메뉴</a></li>
          <li><a href="#">메뉴</a></li>
          <li><a href="#">메뉴</a></li>
          <li><a href="#">메뉴</a></li>
          <li><a href="#">메뉴</a></li>
        </ul>
      </div>
      <div class="tab_box">
        <ul>
          <li><a href="#">메뉴</a></li>
          <li><a href="#">메뉴</a></li>
        </ul>
      </div>
    </header>
    <section class="content_box">
      <!-- 회원가입-->
      <div class="join_cont">
        <div class="join_box">
          <h3 class="h3_title">회원가입</h3>
          <span class="desc">회원가입하신 후 다양한 소식을 만나보세요.</span>
          <div class="button_box">
            <a href="join_agreement.html" id="btn_join" class="btn common"
              >회원가입</a
            >
          </div>
        </div>
        <!-- sns가입 -->
        <div class="join_box">
          <h3 class="h3_title">SNS 회원가입</h3>
          <span class="desc">sns회원가입 설명내용</span>
          <div class="button_box">
            <a class="btn_sns">sns버튼</a>
            <a class="btn_sns">sns버튼</a>
            <a class="btn_sns">sns버튼</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
