<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
      <div class="gnb_util">
        <ul>
          <li><a href="#" class="gnb_util__join">회원가입</a></li>
          <li><a href="#" class="gnb_util__login">로그인</a></li>
          <li><a href="#">my찜</a></li>
          <li><a href="#">장바구니</a></li>
          <li><a href="#">더보기</a></li>
        </ul>
      </div>
      <div class="gnb_box">
        <div class="logo">로고 이미지</div>
        <ul>
          <li><a href="#">월간방앗간 소개</a></li>
          <li><a href="#">나만의 간식 찾기</a></li>
          <li><a href="#">월간방앗간 메뉴</a></li>
          <li><a href="#">이벤트</a></li>
        </ul>
      </div>
    </header>

    <section class="content_box">
      <!-- 회원가입-->
      <div class="join_cont">
        <div class="join_box">
          <h3 class="h3_title">회원가입</h3>
          <p class="desc">회원가입하신 후 다양한 소식을 만나보세요.</p>
          <div class="tap_box">
            <button id="btn_memberJoin" class="btn emp mid">고객</button>
            <button id="btn_makersJoin" class="btn common mid">메이커스</button>
          </div>
          <div class="button_box">
            <a href="join_agreement.html" id="btn_join" class="btn emp big"
              >회원가입</a
            >
          </div>
        </div>
        <!-- sns가입 -->
        <div class="join_box sns" id="sns_join_box">
          <h3 class="h3_title">SNS 회원가입</h3>
          <p class="desc">
            SNS계정을 연동하여 빠르고 쉽게 회원가입을 할 수 있습니다.
          </p>
          <div class="button_box sns">
            <a class="btn_sns">sns버튼 페북</a>
            <a class="btn_sns">sns버튼 네이버</a>
            <a class="btn_sns">sns버튼 카카오</a>
            <a class="btn_sns">sns버튼 구글</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
