<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <section class="content_box">
      <div class="join_order">
        <ol>
          <li class="icon">
            <span>약관동의</span>
          </li>
          <li class="icon">
            <span>기본정보</span>
          </li>
          <li class="icon">
            <span>추가정보</span>
          </li>
          <li class="icon">
            <span>가입완료</span>
          </li>
        </ol>
      </div>

      <!-- 회원가입-->
      <div class="join_cont">
        <h3 class="h3_title">약관동의</h3>
        <div class="join_box">
          <div class="agreement_all">
            <!-- 약관동의 체크박스 잘 보이게 구현-->
            <input type="checkbox" id="allAgree" />
            <label class="check_off" for="allAgree"
              >월간방앗간의 모든 약관을 확인하고 전부 동의합니다.</label
            >
          </div>
          <div class="agreement_box">
            <input type="checkbox" id="termAgree" />
            <label class="check_off" for="allAgree"
              >(필수)이용약관에 동의합니다.</label\
            >
            <span><a href="#"> 전체보기 </a></span>
          </div>
          <div class="agreement_box">
            <input type="checkbox" id="termAgree" />
            <label class="check_off" for="allAgree"
              >(필수)개인정보 수집 및 이용에 동의합니다.</label
            >
            <span><a href="#"> 전체보기 </a></span>
          </div>
        </div>
      </div>

      <div class="button_box">
        <a href="#" id="btn_prev" class="btn common">이전</a>
        <a href="join_basic.html" id="btn_next" class="btn emp">다음</a>
      </div>
    </section>
  </body>
</html>
