<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>

    <section class="content_box">
      <!-- 회원가입-->
      <div class="join_cont">
       <form method="post" id="joinCate" th:action="@{/join/join_method}">
        <div class="join_box">
          <h3 class="h3_title">회원가입</h3>
          <p class="desc">회원가입하신 후 다양한 소식을 만나보세요.</p>
          <div class="tap_box">
              <input type="radio" id="btn_memberJoin" class="hidden" name="joinType" value="2" checked></input>
              <label for="btn_memberJoin" class="btn mid">고객</label>
              <input type="radio" id="btn_makersJoin" class="hidden" name="joinType" value="3"></input>
              <label for="btn_makersJoin" class="btn mid">메이커스</label>
            </div>
          <div class="button_box">
          	<input type="submit" id="btn_join" class="btn emp big" value="회원가입">
          </div>
        </div>
        <!-- 
        <div class="join_box sns" id="sns_join_box">
          <h3 class="h3_title">SNS 회원가입</h3>
          <p class="desc">
            SNS계정을 연동하여 빠르고 쉽게 회원가입을 할 수 있습니다.
          </p>
          <div class="button_box sns">
            <a class="btn_sns">sns버튼 페북</a>
            <a class="btn_sns">sns버튼 네이버</a>
            <a class="btn_sns">sns버튼 카카오</a>
            <a class="btn_sns">sns버튼 구글</a>
          </div>
        </div>
        sns가입 -->
       </form>
      </div>
    </section>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      type="text/javascript"
      src="../../static/js/memberJoin.js"
    ></script> 
    <script src="../../static/js/layout_front.js"></script>
    
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/memberJoin.js}"></script>

  </body>
</html>
