<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <section class="content_box">
      <div class="join_order">
        <ol>
          <li class="icon">
            <span>약관동의</span>
          </li>
          <li class="icon">
            <span>기본정보</span>
          </li>
          <li class="icon">
            <span>추가정보</span>
          </li>
          <li class="icon">
            <span>가입완료</span>
          </li>
        </ol>
      </div>

      <!-- 2단계 -->
      <div class="join_cont">
        <form method="post" id="memberJoin" class="formTerms">
          <div class="join_box">
            <!--필수 정보-->
            <h3 class="h3_title">필수정보 입력</h3>
            <span class="desc">반드시 입력하셔야 하는 항목들입니다.</span>
            <table>
              <colgroup>
                <col width="25%" />
                <col width="75%" />
              </colgroup>
              <tbody>
                <tr>
                  <th><span>아이디(이메일)</span></th>
                  <td>
                    <input type="email" name="inputId" required />
                    <input
                      type="hidden"
                      name="idDupCheck"
                      value="idDupUncheck"
                    />
                    <button type="button" class="idCheck">중복조회</button>
                    <div class="desc_s">
                      <span class="idDupMsg"> </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span>비밀번호</span></th>
                  <td>
                    <input type="password" name="inputPw" required />
                    <input type="hidden" name="pWCheck" value="unusable" />
                    <div class="desc_s">
                      <span class="pwValidationMsg"> </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span>비밀번호 확인</span></th>
                  <td>
                    <input type="password" name="inputPwConfirm" required />
                    <input
                      type="hidden"
                      name="pWConfirmCheck"
                      value="unusable"
                    />
                    <div class="desc_s">
                      <span class="inputPwConfirmMsg"> </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span>닉네임</span></th>
                  <td>
                    <input type="text" name="inputName" required />
                    <input type="hidden" name="nameCheck" value="unusable" />
                    <div class="desc_s">
                      <span class="nameValidationMsg"> </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <!--년/월/일 칸 세개로 나눴습니다! (yyyy-mm-dd )-->
                  <th><span>생년월일</span></th>
                  <td>
                    <div class="birth_box">
                      <div>
                        <input
                          type="number"
                          class="birthYear"
                          maxlength="4"
                          placeholder="년(4자리)"
                          name="inputAge"
                          pattern="[0-9]{4}"
                          required
                        />
                      </div>
                      <div>
                        <select class="birthMonth" required>
                          <option>월</option>
                          <option value="01">1월</option>
                          <option value="02">2월</option>
                          <option value="03">3월</option>
                          <option value="04">4월</option>
                          <option value="05">5월</option>
                          <option value="06">6월</option>
                          <option value="07">7월</option>
                          <option value="08">8월</option>
                          <option value="09">9월</option>
                          <option value="10">10월</option>
                          <option value="11">11월</option>
                          <option value="12">12월</option>
                        </select>
                      </div>
                      <div>
                        <select class="birthDay" required>
                          <option>일</option>
                          <option value="01">1일</option>
                          <option value="02">2일</option>
                          <option value="03">3일</option>
                          <option value="04">4일</option>
                          <option value="05">5일</option>
                          <option value="06">6일</option>
                          <option value="07">7일</option>
                          <option value="08">8일</option>
                          <option value="09">9일</option>
                          <option value="10">10일</option>
                          <option value="11">11일</option>
                          <option value="12">12일</option>
                          <option value="13">13일</option>
                          <option value="14">14일</option>
                          <option value="15">15일</option>
                          <option value="16">16일</option>
                          <option value="17">17일</option>
                          <option value="18">18일</option>
                          <option value="19">19일</option>
                          <option value="20">20일</option>
                          <option value="21">21일</option>
                          <option value="22">22일</option>
                          <option value="23">23일</option>
                          <option value="24">24일</option>
                          <option value="25">25일</option>
                          <option value="26">26일</option>
                          <option value="27">27일</option>
                          <option value="28">28일</option>
                          <option value="29">29일</option>
                          <option value="30">30일</option>
                          <option value="31">31일</option>
                        </select>
                      </div>
                    </div>
                    <div class="desc_s">
                      <span></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span>성별</span></th>
                  <td>
                    <input
                      type="radio"
                      id="sex_male"
                      name="inputSex"
                      value="남"
                    />
                    <label for="sex_male">남</label>
                    <input
                      type="radio"
                      id="sex_female"
                      name="inputSex"
                      value="여"
                    />
                    <label for="sex_female">여</label>
                  </td>
                </tr>
                <tr>
                  <th><span>본인인증</span></th>
                  <td>
                    <input
                      type="tel"
                      id="phoneNum"
                      placeholder="휴대폰번호"
                      maxlength="13"
                      pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                      required
                    />
                    <button type="button" class="identifyBtn">인증하기</button>
                    <div class="desc_s">
                      <span class="phoneValidationMsg">본인인증 메시지</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--넘어가는 버튼-->
          <div class="button_box">
            <a href="#" class="prevPageBtn btn common mid">이전</a>
            <input type="submit" class="nextPageBtn btn emp mid" value="다음" />
          </div>
        </form>
      </div>

      <!-- js 파일이 아래쪽 링크는 제쪽에서 안먹어서 테스트용으로 바꿔놨음! 이쪽 script들 주석처리하거나 삭제하고 다시 쓰시면 됩니다 (아래쪽이 원래 민아씨가 쓰시던 거에요) -->
      <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
      <script
        type="text/javascript"
        src="../../static/js/memberJoin.js"
      ></script>
      <!--
      <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/memberJoin.js}"></script>
      -->
    </section>
  </body>
</html>
