<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <section class="content_box">
      <div class="join_order">
        <ol>
          <li class="icon">
            <span>약관동의</span>
          </li>
          <li class="icon">
            <span>기본정보</span>
          </li>
          <li class="icon">
            <span>추가정보</span>
          </li>
          <li class="icon">
            <span>가입완료</span>
          </li>
        </ol>
      </div>

      <!-- 3단계 -->
      <!--추가 정보 항목개수 변동가능성 있음-->
      <div class="join_cont">
        <form method="post" id="memberJoin" class="formTerms">
          <div class="join_box">
            <h3 class="h3_title">추가정보 입력</h3>
            <table>
              <colgroup></colgroup>
              <tbody>
                <tr>
                  <th><span>식품 알레르기가 있으신가요?</span></th>
                  <td>
                    <input
                      type="radio"
                      id="allergie_no"
                      name="allergie"
                      value="no"
                    />
                    <label for="allergie_no">없음</label>
                    <input
                      type="radio"
                      id="allergie_yes"
                      name="allergie"
                      value="yes"
                    />
                    <label for="allergie_yes">있음</label>
                    <!--있음 체크되어있을 때만 활성화되도록-->
                    <select name="allergie_kind" id="">
                      <option value="">옵션1</option>
                      <option value="">옵션2</option>
                      <option value="">옵션3</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th><span>식품 섭취 시 주의할 질병이 있으신가요?</span></th>
                  <td>
                    <input
                      type="radio"
                      id="disease_no"
                      name="disease"
                      value="no"
                    />
                    <label for="disease_no">없음</label>
                    <input
                      type="radio"
                      id="disease_yes"
                      name="disease"
                      value="yes"
                    />
                    <label for="disease_yes">있음</label>
                    <select name="disease_kind" id="">
                      <option value="">옵션1</option>
                      <option value="">옵션2</option>
                      <option value="">옵션3</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--버튼-->
          <!--쿠폰받기 버튼은 추가정보 전부 입력시에만 활성화-->
          <div class="button_box">
            <a href="join_finish.html" id="btn_next" class="btn common mid">
              넘어가기
            </a>
            <a href="#" id="btn_coupon" class="btn emp mid">쿠폰받기</a>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
