<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>
    <section class="content_box">
      <div class="join_order">
        <div class="logo"></div>
        <ol>
          <li class="icon">
            <span>약관동의</span>
          </li>
          <li class="icon">
            <span>기본정보</span>
          </li>
          <li class="icon">
            <span>추가정보</span>
          </li>
          <li class="icon">
            <span class="text emp">가입완료</span>
          </li>
        </ol>
      </div>

      <!-- 4단계 -->
      <div class="join_member">
        <div class="text_box pad">
          <p class="text mid">월간방앗간에 오신 것을 환영합니다!</p>
          <p class="text mid">특별한 당신을 위한 디저트를 둘러보러 갈까요?</p>
        </div>
      </div>

      <div class="button_box">
        <!--로그인 페이지로 이동-->
        <a th:href="@{/login}" class="btn big emp" id="btn_login">로그인하기</a>
      </div>
    </section>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/memberJoin.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/memberJoin.js}"></script>
  </body>
</html>
