<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <title>월간방앗간</title>
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="popupWrapper"></div>
    <header class="makerHeader"></header>

    <section class="content_box">
      <div class="join_order">
        <div class="logo"></div>
        <ol>
          <li class="icon">
            <span class="text emp">약관동의</span>
          </li>
          <li class="icon">
            <span>기본정보</span>
          </li>
          <li class="icon">
            <span>입점신청</span>
          </li>
          <li class="icon">
            <span>가입완료</span>
          </li>
        </ol>
      </div>

      <!-- 회원가입-->
      <div class="join_cont">
        <form
          method="post"
          id="joinTerms"
          class="formTerms"
          th:action="@{/join/makersJoin/join_agreement}"
        >
          <h3 class="h3_title">약관동의</h3>
          <div class="join_box">
            <div class="agreement_all">
              <input type="checkbox" id="allAgree" class="checkAll checkbox" />
              <label class="check_off" for="allAgree"
                >월간방앗간의 모든 약관을 확인하고 전부 동의합니다.</label
              >
            </div>

            <div class="agreement_box">
              <div class="agreement_column">
                <input
                  type="checkbox"
                  id="termAgree"
                  class="checkRequired checkbox"
                />
                <label class="check_off" for="termAgree"
                  >(필수)이용약관에 동의합니다.</label
                >
              </div>
              <div class="agreement_column">
                <button
                  type="button"
                  class="readDetail btn_text"
                  data-termtitle="termAgree"
                >
                  전체보기
                </button>
              </div>
            </div>
            <div class="agreement_box">
              <div class="agreement_column">
                <input
                  type="checkbox"
                  id="infoAgree"
                  class="checkRequired checkbox"
                />
                <label class="check_off" for="infoAgree"
                  >(필수)개인정보 수집 및 이용에 동의합니다.</label
                >
              </div>
              <div class="agreement_column">
                <button
                  type="button"
                  class="readDetail btn_text"
                  data-termtitle="infoAgree"
                >
                  전체보기
                </button>
              </div>
            </div>
            <div class="agreement_box">
              <div class="agreement_column">
                <input
                  type="checkbox"
                  id="locationAgree"
                  class="checkRequired checkbox"
                />
                <label class="check_off" for="locationAgree"
                  >(필수)위치기반 서비스 이용에 동의합니다.</label
                >
              </div>
              <div class="agreement_column">
                <button
                  type="button"
                  class="readDetail btn_text"
                  data-termtitle="locationAgree"
                >
                  전체보기
                </button>
              </div>
            </div>
            <div class="agreement_box">
              <div class="agreement_column">
                <input
                  type="checkbox"
                  id="InfoOfferAgree"
                  name="InfoOfferAgree"
                  class="checkSelective checkbox"
                  value="checked"
                />
                <label class="check_off" for="InfoOfferAgree"
                  >(선택)개인정보의 제3자 제공에 동의합니다.</label
                >
              </div>
              <div class="agreement_column">
                <button
                  type="button"
                  class="readDetail btn_text"
                  data-termtitle="InfoOfferAgree"
                >
                  전체보기
                </button>
              </div>
            </div>
            <div class="agreement_box">
              <div class="agreement_column">
                <input
                  type="checkbox"
                  id="outsourceAgree"
                  name="outsourceAgree"
                  class="checkSelective checkbox"
                  value="checked"
                />
                <label class="check_off" for="outsourceAgree"
                  >(선택)개인정보 처리 위탁에 동의합니다.</label
                >
              </div>
              <div class="agreement_column">
                <button
                  type="button"
                  class="readDetail btn_text"
                  data-termtitle="outsourceAgree"
                >
                  전체보기
                </button>
              </div>
            </div>
            <div class="agreement_box">
              <div class="agreement_column">
                <input
                  type="checkbox"
                  id="newsAgree"
                  name="newsAgree"
                  class="checkSelective checkbox"
                  value="checked"
                />
                <label class="check_off" for="newsAgree"
                  >(선택)SMS, 이메일 마케팅 정보수신에 동의합니다.</label
                >
              </div>
              <div class="agreement_column">
                <button
                  type="button"
                  class="readDetail btn_text"
                  data-termtitle="newsAgree"
                >
                  전체보기
                </button>
              </div>
            </div>
          </div>
          <div class="button_box">
            <a
              href="javascript:history.back()"
              id="btn_prev"
              class="btn common mid"
              >이전</a
            >
            <input
              type="button"
              id="btn_coupon"
              class="btn emp mid joinAgreementNextBtn"
              value="다음"
            />
          </div>
        </form>
      </div>
    </section>
    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script type="text/javascript" src="../../static/js/memberJoin.js"></script>
    <script
      type="text/javascript"
      src="../../static/js/memberJoin_front.js"
    ></script>
    <script
      type="text/javascript"
      src="../../static/js/makers/makerJoin_front.js"
    ></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/memberJoin_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/memberJoin.js}"></script>
    <script type="text/javascript" th:src="@{/js/makerJoin_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/makers/makerJoin_front.js}"></script>
  </body>
</html>
