<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>

    <section class="content_box">
      <form
        th:action="@{/customer/order/cancelOrderForm}"
        method="post"
        id="getCancelInfo"
      >
        <div class="payment_wrap">
          <h1 class="h1_title text big">주문취소 신청</h1>
          <div class="main_box orderer_box">
            <h3 class="h3_title">주문자</h3>
            <!-- 여기 value에 로그인한 유저 이름, 휴대폰 정보 자동으로 가져오기 -->
            <table class="orderer_form">
              <colgroup>
                <col width="25%" />
                <col width="75%" />
              </colgroup>
              <tr>
                <th><span class="text">이름</span></th>
                <td>
                  <span class="ordererName">주문자 이름</span>
                </td>
              </tr>
              <tr>
                <th><span class="text">휴대폰번호</span></th>
                <td>
                  <span class="phoneNum ordererPhoneNum"
                    >주문자 휴대폰번호</span
                  >
                </td>
              </tr>
            </table>
          </div>
          <div class="main_box result_box cart_box">
            <h3 class="h3_title">상품정보</h3>
            <div class="orderNumber hidden cancelOrder_orderNumber"></div>
            <div class="result_list_box">
              <table class="result_table">
                <colgroup>
                  <col width="10%" />
                  <col width="20%" />
                  <col width="30%" />
                  <col width="15%" />
                  <col width="10%" />
                  <col width="15%" />
                </colgroup>
                <thead class="hidden">
                  <tr class="result_head">
                    <th>번호</th>
                    <th>제품사진</th>
                    <th>제품명</th>
                    <th>배송방식</th>
                    <th>개수</th>
                    <th>가격</th>
                  </tr>
                </thead>
                <tbody class="result_itemList">
                  <tr class="result_item">
                    <td>
                      <span class="result_item num hidden">1</span>
                    </td>
                    <td>
                      <img src="" alt="제품이미지" class="result_item img" />
                    </td>
                    <td>
                      <div class="result_item info">
                        <span class="result_item title">제품이름</span>
                        <div>
                          <span class="result_item price_number">(가격)</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="result_delivery">택배배송</span>
                    </td>
                    <td>
                      <span class="result_item itemNumber">개수</span>
                    </td>
                    <td>
                      <span class="result_item total_price_number price_number"
                        >10000</span
                      >
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="main_box cancelReason_box">
            <h3 class="h3_title">취소사유</h3>
            <div class="box_row">
              <select name="" id="" class="inputCancelReason required">
                <option value="">선택해주세요.</option>
                <option value="고객단순변심">고객단순변심</option>
                <option value="상품불만족">상품불만족</option>
                <option value="고객주문오류">고객주문오류</option>
                <option value="다른 곳보다 비쌈">다른 곳보다 비쌈</option>
                <option value="쿠폰, 할인 혜택이 변경됨">
                  쿠폰, 할인 혜택이 변경됨
                </option>
                <option value="배송이 늦어짐">배송이 늦어짐</option>
                <option value="기타">기타</option>
              </select>
              <!-- 최대 500자 -->
              <textarea
                class="inputCancelReasonDetail inputTextArea"
                placeholder="상세사유를 입력해주세요."
              ></textarea>
            </div>
          </div>

          <div class="main_box refund_box">
            <h3 class="h3_title">환불 정보</h3>
            <div class="cancel_column">
              <div>
                <span class="text">결제수단:</span>
                <span class="refund_method">무통장 입금</span>
              </div>

              <div>
                <span>환불예정금액</span>
                <!--여기에 금액 합계 들어감-->
                <span class="refund_price_number text mid emp price_number"
                  >(환불금액)</span
                >
              </div>
            </div>

            <div class="payment_column cancel_agreement_box boxborder">
              <!--체크 안하고 신청 누를 시 체크 필요하단 창뜨게-->
              <div class="agreement_box">
                <div class="agreement_column">
                  <input
                    type="checkbox"
                    id="cancelTermAgree"
                    class="checkRequired checkbox"
                  />
                  <label class="check_off" for="cancelTermAgree">
                    <span>주문취소 신청동의</span>
                    <p class="desc_s">
                      주문취소 상품의 상품명, 상품가격, 배송정보를 확인하였으며,
                      주문취소에 동의하시겠습니까? (전자상거래법 제8조 제2항)
                    </p>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="button_box">
            <!--누르면 뒤로 -->
            <a href="javascript:history.back()" class="btn mid prevPageBtn">
              돌아가기
            </a>
            <!--누르면 취소진행-->
            <button type="button" class="btn mid emp cancelRequestBtn">
              주문취소 신청하기
            </button>
          </div>
        </div>
      </form>
    </section>
    <footer></footer>

    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script src="../../static/js/customer/cancelOrder_front.js"></script> -->

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/js/customer/cancelOrder.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/customer/cancelOrder_front.js}"
    ></script>
  </body>
</html>
