<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
      <div class="gnb_util">
        <ul>
          <li>
            <a href="#" class="gnb_util__join">회원가입</a>
          </li>
          <li><a href="#" class="gnb_util__login">로그인</a></li>
          <li><a href="#">장바구니</a></li>
        </ul>
      </div>
      <div class="gnb_box">
        <ul class="gnb_customer">
          <div class="logo">로고 이미지</div>
          <li><a href="#">월간방앗간 소개</a></li>
          <li><a href="#">나만의 떡 찾기</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">리뷰</a></li>
        </ul>
        <ul class="gnb_makers">
          <li><a href="#">메이커스</a></li>
        </ul>
      </div>
    </header>

    <section class="content_box">
      <div class="cart_wrap">
        <h1 class="h1_title text big">장바구니</h1>
        <div class="main_box result_box cart_box">
          <div class="result_list_box">
            <div class="result_summary h3_title">
              <span class="itmeNumberTotal">(개수합산)</span>
              <button type="button" class="deleteItemAllBtn">전체삭제</button>
            </div>
            <table class="result_table">
              <colgroup>
                <col width="10%" />
                <col width="20%" />
                <col width="30%" />
                <col width="15%" />
                <col width="10%" />
                <col width="15%" />
              </colgroup>
              <thead class="hidden">
                <tr class="result_head">
                  <th>번호</th>
                  <th>제품사진</th>
                  <th>제품명</th>
                  <th>배송방식</th>
                  <th>개수</th>
                  <th>가격</th>
                </tr>
              </thead>
              <tbody class="result_itemList">
                <tr class="result_item">
                  <td>
                    <span class="result_item num">1</span>
                  </td>
                  <td>
                    <img src="" alt="제품이미지" class="result_item img" />
                  </td>
                  <td>
                    <div class="result_item info">
                      <span class="result_item title">제품이름</span>
                      <div>
                        <span class="result_item price_number">(가격)</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <select class="result_delivery">
                      <option value="택배배송">택배배송</option>
                      <option value="퀵배송">퀵배송</option>
                    </select>
                  </td>
                  <td>
                    <button type="button" class="itemMinusBtn">
                      <i class="fas fa-minus"></i>
                    </button>
                    <span class="result_item itemNumber">개수</span>
                    <button type="button" class="itemPlusBtn">
                      <i class="fas fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <span class="result_item price_number">(최종가격)</span>
                  </td>
                  <td>
                    <button type="button" class="result_item deleteItemBtn">
                      <i class="fas fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr class="result_item">
                  <td>
                    <span class="result_item num">1</span>
                  </td>
                  <td>
                    <img src="" alt="제품이미지" class="result_item img" />
                  </td>
                  <td>
                    <div class="result_item info">
                      <span class="result_item title">제품이름</span>
                      <div>
                        <span class="result_item price_number">(가격)</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <select class="result_delivery">
                      <option value="택배배송">택배배송</option>
                      <option value="퀵배송">퀵배송</option>
                    </select>
                  </td>
                  <td>
                    <button type="button" class="itemMinusBtn">
                      <i class="fas fa-minus"></i>
                    </button>
                    <span class="result_item itemNumber">개수</span>
                    <button type="button" class="itemPlusBtn">
                      <i class="fas fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <span class="result_item price_number">(최종가격)</span>
                  </td>
                  <td>
                    <button type="button" class="result_item deleteItemBtn">
                      <i class="fas fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="main_box bottom main_payment_box">
          <div class="payment_box">
            <div class="price_box">
              <span class="price_title">총 상품금액</span>
              <span class="price_number text big">(가격)</span>
            </div>
            <div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="price_box">
              <span class="price_title">총 배송비</span>
              <span class="price_number text big">(가격)</span>
            </div>
            <div>
              <i class="fas fa-equals"></i>
            </div>
            <div class="price_box">
              <span class="price_title">총 결제예정금액</span>
              <span class="price_number text big emp">(가격)</span>
            </div>
          </div>
          <div class="button_box">
            <!--누르면 결제창으로-->
            <button type="" class="btn big emp gotoPaymentBtn">결제하기</button>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/customer/cart_front.js"></script>
  </body>
</html>
