<!-- 아이디찾기 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>
    <section class="content_box">
      <div class="content_wrap">
        <h3 class="h3_title">비밀번호 재설정</h3>
        <p>재설정할 비밀번호를 입력해주세요.</p>
        <div>
          <input
            type="password"
            placeholder="새 비밀번호"
            class="inputPassword"
          />
        </div>
        <div>
          <input
            type="password"
            placeholder="비밀번호 재입력"
            class="inputPasswordConfirm"
          />
        </div>
        <div class="button_box">
          <button class="confirmBtn btn emp">변경하기</button>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="../../static/js/layout_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
  </body>
</html>
