<!-- 아이디찾기 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>
    <section class="content_box">
      <div class="content_wrap">
        <h3 class="h3_title">비밀번호 찾기</h3>
        <div>
          <input type="text" placeholder="아이디" class="inputId" />
        </div>
        <div>
          <input type="text" placeholder="이름" class="inputName" />
        </div>
        <div>
          <input
            type="tel"
            class="phoneNum"
            placeholder="휴대폰번호 입력"
            maxlength="13"
            pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
            name="inputPhone"
            required
          />
          <button type="button" class="identifyBtn">인증번호 받기</button>
        </div>
        <div>
          <input
            type="text"
            class="ValidattionNum"
            placeholder="인증번호 입력"
          />
          <button type="button" class="confirmIdentifyBtn">인증확인</button>
        </div>
        <div class="button_box">
          <button class="confirmBtn btn emp">확인</button>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="../../static/js/layout_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
  </body>
</html>
