<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
      <div class="gnb_util">
        <ul>
          <li>
            <a href="#" class="gnb_util__join">회원가입</a>
          </li>
          <li><a href="#" class="gnb_util__login">로그인</a></li>
          <li><a href="#">장바구니</a></li>
        </ul>
      </div>
      <div class="gnb_box">
        <ul class="gnb_customer">
          <div class="logo">로고 이미지</div>
          <li><a href="#">월간방앗간 소개</a></li>
          <li><a href="#">나만의 떡 찾기</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">리뷰</a></li>
        </ul>
        <ul class="gnb_makers">
          <li><a href="#">메이커스</a></li>
        </ul>
      </div>
    </header>

    <section class="content_box">
      <div class="main_wrap story">
        <div class="main_box main_story_box">
          <div class="main_column intro_box">
            <div class="text_box">
              <p class="brand text">Brand Story</p>
              <p class="title text mid">
                  ‘떡’은 우리나라 대표적인 전통음식 중 하나로, </br>
                다양한 행사에서 빠질 수 없는 대표 음식입니다.
              </p>
              <p class="text">
                  오랜 역사를 가진 떡이지만 실질적 현 상황은 고령화 및 소규모업체가 주를 이루는 영세화된 산업군입니다.
                세심한 관리가 필요하지만 짧은 유통기한으로 인해 떡은 급변하는 세상에서 발 빠르게 대처하지 못하고 있습니다.</br></br>
                이에 저희는 생각했습니다. </br>
                “ 전국의 소비자와 떡집을 하나로 이어줄 수 있는 매개를 만들자!”</br>
                고객은 편하게 집에서 주문을 하고,  천연재료로 맛과 색을 낸 떡을 즐길 수 있도록.
                메이커스는 확보된 고객을 바탕으로 매출을 올리고, 마케팅비용의 절감효과를 줄 수 있도록.</br>
                그래서 시작합니다.
              </p>
              <p class="text mid emp">새로운 디저트 서비스 플랫폼 ‘월간방앗간’</p>
            </div>
            <ol class="story_box">              
                <li class="story_item">
                    <p>
                    예민한 나에게 꼭 맞는</br>
                    맞춤형 제품 추천 시스템
                    </p>
                </li>
                <li class="story_item">
                    <p>
                    배송으로 끝은 NO!</br> 
                    품질까지 깐깐하게 관리
                    </p>
                </li>
                <li class="story_item">
                    <p>
                    영양학 전문가와 </br>
                    식품 MD가 추천하는 </br>
                    맞춤형 레시피 제공
                    </p>
                </li>              
            </ol>
          </div>
          <div class="main_column img_box">
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/js/mainPage_front.js"
    ></script>
  </body>
</html>
