<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link type="text/css" rel="stylesheet" href="../../static/css/style.css" /> -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>

    <section class="content_box">
      <div class="loading_wrap">
        <!-- 대기 및 로딩 중일때 뜨는 부분 -->
        <div class="text_box nowLoading">
          <p>고객님의 입금내역을 확인중입니다.</p>
          <p>잠시만 기다려주세요. 약 2~3분이 소요됩니다.</p>
          <p>
            페이지가 자동으로 넘어가지 않는 경우, 모래시계를 눌러서 승인내역을
            확인하세요.
          </p>
          <div class="animation_box">
            <i class="far fa-hourglass loading_icon"></i>
            <div class="loadingDots">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>

    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>-->

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>

    <!--  5초 후에 페이지 이동하게 설정해둠   -->
    <script type="text/javascript">
      $(function () {
        setTimeout('location.href="/customer/payment/paymentConfirm"', 10000);
      });
    </script>
  </body>
</html>
