<!-- my찜 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>

    <div class="wrapper">
      <aside class="asideMenu" data-asideMenu-number="1"></aside>

      <section class="content_box withAside">
        <div class="main_box periodSet_box">
          <h3 class="h3_title">my찜</h3>
          <ul class="itemListBox">
            <!-- 찜 아이템 -->
            <li class="wishItem">
              <div class="wishItem-imgBox">
                <img
                  src="../../static/img/main_intro1_백설기.jpg"
                  alt="사진"
                  class="wishItem-img"
                />
                <div class="wishItem-iconbox">
                  <i class="fas fa-shopping-cart wishItem-cart"></i>
                  <i class="fas fa-trash-alt wishItem-delete"></i>
                </div>
              </div>
              <p class="widhItem-name">상품이름</p>
              <span class="widhItem-price">가격</span>
            </li>
            
            <li class="wishItem">
              <div class="wishItem-imgBox">
                <img
                  src="../../static/img/main_intro1_백설기.jpg"
                  alt="사진"
                  class="wishItem-img"
                />
                <div class="wishItem-iconbox">
                  <i class="fas fa-shopping-cart wishItem-cart gotoCartBtn"></i>
                  <i class="fas fa-trash-alt wishItem-delete deleteWishBtn"></i>
                </div>
              </div>
              <p class="widhItem-name">상품이름</p>
              <span class="widhItem-price">가격</span>
            </li>
            <li class="wishItem">
              <div class="wishItem-imgBox">
                <img
                  src="../../static/img/main_intro1_백설기.jpg"
                  alt="사진"
                  class="wishItem-img"
                />
                <div class="wishItem-iconbox">
                  <i class="fas fa-shopping-cart wishItem-cart"></i>
                  <i class="fas fa-trash-alt wishItem-delete"></i>
                </div>
              </div>
              <p class="widhItem-name">상품이름</p>
              <span class="widhItem-price">가격</span>
            </li>
            <li class="wishItem">
              <div class="wishItem-imgBox">
                <img
                  src="../../static/img/main_intro1_백설기.jpg"
                  alt="사진"
                  class="wishItem-img"
                />
                <div class="wishItem-iconbox">
                  <i class="fas fa-shopping-cart wishItem-cart"></i>
                  <i class="fas fa-trash-alt wishItem-delete"></i>
                </div>
              </div>
              <p class="widhItem-name">상품이름</p>
              <span class="widhItem-price">가격</span>
            </li>
            
        </div>
      </section>
    </div>
    <footer></footer>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
  </body>
</html>
