<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
      <div class="gnb_util">
        <ul>
          <li>
            <a href="#" class="gnb_util__join">회원가입</a>
          </li>
          <li><a href="#" class="gnb_util__login">로그인</a></li>
          <li><a href="#">장바구니</a></li>
        </ul>
      </div>
      <div class="gnb_box">
        <ul class="gnb_customer">
          <div class="logo">로고 이미지</div>
          <li><a href="#">월간방앗간 소개</a></li>
          <li><a href="#">나만의 떡 찾기</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">리뷰</a></li>
        </ul>
        <ul class="gnb_makers">
          <li><a href="#">메이커스</a></li>
        </ul>
      </div>
    </header>

    <div class="wrapper">
      <aside class="asideMenu">
        <h1 class="text mid boxborder">My월간방앗간</h1>
        <div class="asideMenu_box">
          <h3 class="h4_title text boxborder">나의 주문정보</h3>
          <ul>
            <li>
              <a href="#">주문/배송 조회</a>
            </li>
            <li>
              <a href="#">취소/반품 조회</a>
            </li>
            <li>
              <a href="#">배송지 관리</a>
            </li>
            <li>
              <a href="#">환불계좌 관리</a>
            </li>
          </ul>
        </div>
      </aside>
      <section class="content_box withAside">
        <div class="main_box">
          <h3 class="h3_title">주문/배송 조회</h3>
          <div class="button_box">
            <div class="button_box_column">
              <button class="periodBtn">1개월</button>
              <button class="periodBtn">3개월</button>
              <button class="periodBtn">6개월</button>
              <button class="periodBtn">1년</button>
            </div>
            <div class="button_box_column">
              <input type="date" name="" id="" />
              <span>~</span>
              <input type="date" name="" id="" />
              <button>조회</button>
            </div>
          </div>
        </div>

        <div class="main_box">
          <h3 class="h3_title">주문날짜</h3>
          <div class="button_box">
            <button>매칭완료</button>
            <button>주문번호</button>
          </div>
          <ul>
            <li>
              <div class="list_column column_left">
                <img src="" alt="제품사진" />
              </div>
              <div class="list_column column_right">
                <p></p>
                <div>
                  <span class="price_number">(가격)</span>
                  <span class="item_number">(개수)</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/customer/payment_front.js"></script>
  </body>
</html>
