<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
    </header>

    <div class="wrapper">
      <aside class="asideMenu">
        <h1 class="text mid boxborder">My월간방앗간</h1>
        <div class="asideMenu_box">
          <h3 class="h4_title text boxborder">나의 주문정보</h3>
          <ul class="aside_list">
            <li>
              <a href="#">주문/배송 조회</a>
            </li>
            <li>
              <a href="#" class="text emp black">취소/반품 조회</a>
            </li>
            <li>
              <a href="#">배송지 관리</a>
            </li>
            <li>
              <a href="#">환불계좌 관리</a>
            </li>
          </ul>
        </div>
      </aside>
      <section class="content_box withAside">
        <div class="main_box">
          <h3 class="h3_title">취소/반품 조회</h3>
          <div class="button_box">
            <div class="button_box_column text ss">
              <input type="radio" name="order_period" class="periodBtn hidden" id="period_1month" checked="checked"></input>
              <label for="period_1month" class="btn square ">1개월</label>
              <input type="radio" name="order_period" class="periodBtn hidden" id="period_3month"></input>
              <label for="period_3month" class="btn square">3개월</label>
              <input type="radio" name="order_period" class="periodBtn hidden" id="period_6month"></input>
              <label for="period_6month" class="btn square">6개월</label>
              <input type="radio" name="order_period" class="periodBtn hidden" id="period_12month"></input>
              <label for="period_12month" class="btn square">1년</label>
            </div>
            <div class="button_box_column periodSelfInput">
              <input type="date" name="" id="" class="inputPeriodStart" />
              <span>~</span>
              <input type="date" name="" id="" class="inputPeriodEnd" />
              <button type="button" name="order_period" class="periodBtn btn square period_self" id="period_self" >조회</button>
            </div>
          </div>
        </div>

        <div class="main_box">
          <h4 class="h4_title underbar">
            <span class="orderState text emp">주문취소</span>
            <span>신청일: 0000-00-00 (요일)</span>
          </h4>
          <div class="orderList_list_box">
            <div class="orderList_top">
              <div class="">
                
                <span class="orderNumber">(주문번호)</span>
              </div>
            </div>
            <table class="orderList_table">
              <colgroup>
                <col width="25%" />
                <col width="75%" />
              </colgroup>
              <tr>
                <td class="list_column column_left">
                  <img src="" class="itemImg" alt="제품사진" />
                </td>
                <td class="list_column column_right">
                  <p class="itemName">제품명</p>
                  <div>
                    <span class="price_number">(가격)</span>
                    <span class="item_number">(개수)</span>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="orderList_text_box text_box">
            <!--주문취소내용 없을 때 뜸 -->
            <p class="orderList_text">
              주문취소 내역이 없습니다. 
            </p>
          </div>
        </div>
      </section>
    </div>
    <footer></footer>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>

  </body>
</html>
