<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link type="text/css" rel="stylesheet" href="../../static/css/style.css" /> -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>
    
    <section class="content_box">
      <form th:action="@{/customer/payment/paymentDeposit}" method="post" class="paymentDepositForm" id="paymentDepositForm">
        <div class="payment_wrap">
          <h1 class="h1_title text big">결제하기</h1>
          <div class="main_box result_box">
            <h3 class="h3_title">결제정보</h3>
            <table>
              <colgroup></colgroup>
              <tbody>
                <tr th:each="l, count : ${cartList}">
                  <td th:id="${count.index}" th:if="${count.index == 0}">상품명</td>
                  <td th:id="${count.index}" th:unless="${count.index == 0}"></td>
                  <td><span class="result_item title" th:text="${l.pName}">(상품이름)</span></td>
                </tr>
                <tr>
                  <td>제공기간</td>
                  <td>
                    <span class="result_item period">별도제공기간 없음</span>
                  </td>
                </tr>
                <tr>
                  <td>상품금액</td>
                  <td><span class="result_item price_number text emp" th:text="${totalPrice}">(가격)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="main_box account_box">
            <div class="account_wrap">
              <div class="boxborder">
                <h4 class="h4_title">무통장입금 계좌안내</h4>
                <div class="accountGuide ">
                  <p>
                    <span class="account_cont">우리은행</span>
                    <span class="account_cont">1006-101-425343</span>
                  </p>
                  <p>
                    <span class="account_cont">예금주:</span>
                    <span class="account_cont">양동욱</span>
                  </p>
                </div>
              </div>
              <div class="desc">
                <p>*주문일로부터 2시간 내 입금처리가 되지 않는 경우 주문은 자동 취소됩니다.</p>
                <p>*아래와 같은 경우 무통장 입금 처리가 불가합니다.</p>
                <p class="text indent">
                  1. 주문 시 등록한 입금자명과 실제 입금자명이 다른 경우</br>
                  2. 결제금액과 실제 입금 금액이 다른 경우</br>
                  3. 결제금액을 분할하여 입금한 경우
                  </p>
              </div>
              <table class="depositor_box">
                <colgroup>
                  <col width="50%" />
                  <col width="50%" />
                </colgroup>
                <tbody>              
                  <tr>
                    <td>입금자 명</td>
                    <td>
                      <input type="text" class="depositorName" placeholder="입금자명 입력">
                    </td>
                  </tr>
                  <tr>
                    <td>이메일</td>
                    <td>
                      <input type="email" class="depositorEmail" placeholder="메일입력">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="agreement_box">
                <div class="agreement_column">
                  <input
                    type="checkbox"
                    id="purchaseAgree"
                    class="checkRequired checkbox"
                  />
                  <label class="check_off" for="purchaseAgree"
                    >상기 구매 내역에 동의합니다. 
                  </label>
                 </div>
              </div>
              <div class="button_box">
                <input type="button" class="btn emp big paymentConfirmBtn" value="확인">
              </div>
            </div>
          </div>
          
        </div>
      </form>
    </section>
    <footer></footer>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="../../static/js/layout_front.js"></script>
    <script src="../../static/js/customer/payment_deposit_front.js"></script> -->
    
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/customer/payment_deposit_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/customer/payment_deposit.js}"></script>
  </body>
</html>
