<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <title>월간방앗간</title>
  </head>
  <body>
    <header></header>
    <section class="content_box">
      <div class="paymentConfirmWrap">
      <div class="main_box payment_confirm_box">
        <h3 class="h3_title">안내사항</h3>
        <div class="main_column">
          <p>입금내역이 확인되었습니다.</p>
          <p class="text indent">
                - 배송일 변경/배송지 변경을 원하실 경우 고객센터에 연락해주세요. </br>
                - 매칭완료(오후 4시) 후에는 매칭 성공실패 여부가 문자로 발송됩니다.</br>
                - 제품에 문제가 발생할 시 고객센터로 문의주세요.</br>
                - 상품준비중 이후부터는 상품 특성상 환불이 불가합니다.</br>
                - 예약날짜 기준 3일 전까지는 100% 환불이 가능합니다.
          </p>
        </div>
        <div class="main_column match_desc_box">
            <div class="match_desc_column up grid_box">
                <span class="text boxborder">결제완료</span>
                <span class="text boxborder">상품준비중</span>
                <span class="text boxborder">생산완료</span>
                <span class="text boxborder">배송중</span>
            </div>
            <div class="match_desc_column bottom grid_box">                
                <div>100% 환불</div>
                <div>환불불가</div>                
            </div>
          </div>
      </div>
      <div class="main_column">
        <div class="button_box">
          <!--찾는 시간동안 매칭화면 보여주기-->
          <button type="button" class="btn big emp gotoMatchBtn" >주문 조회 하기</button>
      </div>
      </div>
    </div>
    </section>
    <footer></footer>

    <!-- <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script src="../../static/js/customer/payment_front.js"></script> -->
    
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/customer/payment_front.js}"></script>
  </body>
</html>
