<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <title>월간방앗간</title>
  </head>
  <body>
    <header>
      <div class="gnb_util">
        <ul>
          <li>
            <a href="#" class="gnb_util__join">회원가입</a>
          </li>
          <li><a href="#" class="gnb_util__login">로그인</a></li>
          <li><a href="#">my찜</a></li>
          <li><a href="#">주문현황</a></li>
          <li><a href="#">더보기</a></li>
        </ul>
      </div>
      <div class="gnb_box">
        <div class="logo">로고 이미지</div>
        <ul>
          <li><a href="#">월간방앗간 소개</a></li>
          <li><a href="#">나만의 떡 찾기</a></li>
          <li><a href="#">월간방앗간 MENU</a></li>
          <li><a href="#">이벤트</a></li>
        </ul>
      </div>
    </header>

    <section class="content_box">
      <!-- 메인-->
      <div class="main_wrap banner">
        <div class="slider">
          <div class="slider_arrows">
            <div class="slider_button prev" id="slidePrev">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="slider_button next" id="slideNext">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <div class="slider_pager">
            <span class="slider_pager__number">1/5</span>
          </div>
          <ul class="slider_list">
            <li class="slider_list__slide">
              <img src="../static/img/slide_1.jpg" alt="" srcset="" />
            </li>
            <li class="slider_list__slide">
              <img src="../static/img/slide_2.jpg" alt="" srcset="" />
            </li>
            <li class="slider_list__slide">
              <img src="../static/img/slide_3.jpg" alt="" srcset="" />
            </li>
          </ul>
        </div>
      </div>
      <div class="main_wrap bottom">
        <div class="main_box main_box_text">
          <div class="text_box">
            <div class="text_box_column top">
              <p>
                월간방앗간이 추천드리는 <br />
                <span class="text emp">#나만의 떡</span> <br />
                같이 선택하러 가봐요.
              </p>
            </div>
            <a class="text_box_column bottom" href="#"
              >나만의 떡 찾으러 가기
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="main_box main_box_search">
          <div class="search_box">
            <div class="search_input">
              <div class="search_icon">
                <i class="fas fa-search"></i>
              </div>
              <input
                type="text"
                class="search_bar"
                placeholder="#해시태그 살펴볼까요?"
              />
            </div>
            <div class="search_blur">
              <div class="search_textbox">
                <span>회원가입 후 확인이 가능해요!</span>
                <a th:href="@{/join/join_basic}">회원가입하러 가기</a>
              </div>
            </div>
            <div class="search_tag_blur">
              <span class="tag">#블러처리</span>
              <span class="tag">#블러처리</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/js/mainPage_front.js"
    ></script>
  </body>
</html>
