<!-- 입점정보조회 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header class="makerHeader"></header>

    <div class="wrapper wrapper-mypage">
      <aside class="makerAside"></aside>
      <section class="content_box">
        <h3 class="mypage_title">입점정보 관리</h3>
        <div class="enterApprovalBox">
          <!-- 승인의 경우 approved 클래스 포함, 미승인은 없음 -->
          <span class="enterApproval">입점 승인 여부</span>
          <input type="hidden" th:value="${storeInfo.enterCheck}" class="enterCheck">
          <span class="enterApprovalResult">미승인 사유 들어가는곳</span>
        </div>
        <div class="element_box">
          <h3 class="h3_title">판매자 정보 입력</h3>
          <table class="info-table">
            <tbody>
              <tr>
                <th class="info-headColumn">
                  <span>판매자 유형</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-sellerType" th:text="${storeInfo.sellerType}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>상호</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-companyName" th:text="${storeInfo.companyName}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>브랜드</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-BrandName" th:text="${storeInfo.brandName}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>사업자등록번호</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-businessNum" th:text="${storeInfo.businessNum}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>사업자등록번호 첨부</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-businessNum">파일 다운받을 수 있게?</span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>대표자 이름</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-ownerName" th:text="${storeInfo.ownerName}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>개업일자</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-storeOpenDate" th:text="${storeInfo.storeOpenDate}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>사업장소재지</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-businessAddr" th:text="${storeInfo.businessAddr}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>사업자 구분</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-sellerClass" th:text="${storeInfo.sellerClass}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>업태</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-businessStatus" th:text="${storeInfo.businessStatus}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>업종</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-businessType" th:text="${storeInfo.businessType}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>통신판매업신고번호</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-salesNum" th:text="${storeInfo.salesNum}"></span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>통신판매업신고번호 첨부</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-reportNumfFile" >파일 다운받을 수 있게</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="element_box">
          <h3 class="h3_title">상품 대표 카테고리</h3>
          <table class="info-table">
            <tr>
              <th class="info-headColumn">
                <span>대표 카테고리</span>
              </th>
              <td class="info-bodyColumn">
                <span class="info-repItemCate" th:text="${storeInfo.repItemCate}"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="element_box">
          <h3 class="h3_title">매장 인증 사진 첨부</h3>
          <table class="info-table">
            <tbody>
              <tr>
                <th class="info-headColumn">
                  <span>점포전면사진</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-storeFrontImg">사진</span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>주방 내부사진1</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-kitchenImg1">사진1</span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>주방 내부사진2</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-kitchenImg2">사진2</span>
                </td>
              </tr>
              <tr>
                <th class="info-headColumn">
                  <span>주방 내부사진3</span>
                </th>
                <td class="info-bodyColumn">
                  <span class="info-kitchenImg3">사진3</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="button_box">
          <button class="store-updateBtn">수정</button>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script src="../../static/js/makerEnterRead_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/js/makerEnterRead_front.js}"
    ></script>
        <script type="text/javascript" th:src="@{/js/makers/makerMypage.js}"></script>
  </body>
</html>
