<div class="popup">
  <div class="popupTitle">
    <h4 class="title text mid">월간방앗간 입점 필수 안내사항</h4>
    <button class="titlecloseBtn" aria-label="닫기버튼">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="popupBodyBox">
    <div class="popupBody">
      <p class="text emp">환영합니다, 월간방앗간 예비 메이커스님!</p>
      <p>
        월간방앗간은 전국의 소비자와 떡집을 이어주는 플랫폼입니다. 많은
        고객들에게 최고로 맛있는 떡을 제공해 드리기 위해 입점 전 필수 안내사항을
        공지 드립니다.
      </p>
      <p>
        메이커스(판매자)분들의
        <span class="text bold">생산환경 확인</span>이 필수입니다.
        <span class="text underline"
          >아래와 같은 사진을 미리 준비해주세요.</span
        >
      </p>
      <div class="popupImgBox">
        <figure>
          <img src="" alt="매장 전경 사진" class="popupImg" />
          <figcaption>매장 전경</figcaption>
        </figure>
        <figure>
          <img src="" alt="주방내부 사진1" class="popupImg" />
          <figcaption>주방내부사진1</figcaption>
        </figure>
        <figure>
          <img src="" alt="주방내부 사진2" class="popupImg" />
          <figcaption>주방내부사진2</figcaption>
        </figure>
        <figure>
          <img src="" alt="주방내부 사진3" class="popupImg" />
          <figcaption>주방내부사진3</figcaption>
        </figure>
      </div>
      <p class="desc_s">
        - 매장 사진은 '입점 신청' 정보입력 페이지에서 첨부하며, 사진의
        진위여부를 확인하기 위해 입점 검수기간 중 방문 확인이 있을 수 있습니다.
      </p>
      <p class="desc_s">
        - 고객에게 최상의 제품을 제공해 드리기 위해 항상 재료 관리와 주방환경을
        청결하게 유지해주세요.
      </p>
      <p class="desc_s">
        - 모든 고객에게 동일한 맛을 제공하기 위해 정해진 레시피와 함량을
        준수해주세요.
      </p>
    </div>
  </div>
</div>
