<!-- 추가정보 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header class="makerHeader"></header>

    <div class="wrapper wrapper-mypage">
      <aside class="makerAside"></aside>
      <section class="content_box">
        <h3 class="mypage_title">추가정보 관리</h3>
        <div class="mypage-infoBoxWrap">
          <div class="mypage-infoBox">
            <p class="mypage-infoBox-para">
              월간방앗간 중요 안내를 받는 담당자 정보 입력이 필요합니다.
            </p>
            <p class="mypage-infoBox-para">
              원활한 정산대금을 위해서 계좌 입력이 반드시 필요합니다.
            </p>
            <div class="mypage-infoBox-alert">
              <i class="fas fa-exclamation mypage-infoBox-alertIcon"></i>
              <span>현재 입력된 정보가 없습니다.</span>
            </div>
          </div>
          <div class="button_box">
            <button class="mypage-infoBox-enterBtn">등록하기</button>
          </div>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
  </body>
</html>
