<!-- 회원정보조회 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header class="makerHeader"></header>
    <div class="wrapper wrapper-mypage">
      <aside class="makerAside"></aside>
      <section class="content_box">
        <div class="mypage-infoBoxWrap">
          <h3 class="mypage_title">회원정보 관리</h3>
          <div class="mypage-infoBox">
            <p class="mypage-infoBox-para">
              월간방앗간 로그인 시 사용하는 비밀번호를 입력하세요.
            </p>
            <div class="mypage-infoBox-inputBox">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                placeholder="비밀번호 입력"
                class="mypage-infoBox-input"
              />
            </div>
            <span class="mypage-infoBox-pwValidatingMsg"> </span>
          </div>
          <div class="button_box">
            <button class="mypage-infoBox-pwConfirmBtn">확인</button>
            <button class="mypage-infoBox-pwCancelBtn">취소</button>
          </div>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script src="../../static/js/makers/makerMypage.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/makers/makerMypage.js}"></script>
  </body>
</html>
