<!-- 월간매칭 메인 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header class="makerHeader"></header>
    <div class="wrapper">
      <div class="dueTimeBox">
        <!-- 매칭 종료시간인 오후 4시까지 남은 시간 -->
        <span class="dueTime"> </span>
      </div>

      <section class="content-box">
        <!-- 필터 조건 -->
        <div class="filterBox">
          <li class="filterList">
            <span>택배</span>
            <select name="" id="">
              <option value="all">전체</option>
              <option value="">택배</option>
              <option value="">퀵</option>
            </select>
          </li>
          <li class="filterList">
            <span>카테고리</span>
            <select name="" id="">
              <option value="all">전체</option>
              <option value="">떡</option>
              <option value="">제과</option>
              <option value="">제빵</option>
              <option value="">음료</option>
            </select>
          </li>
        </div>

        <!-- 매칭 리스트 -->
        <div class="match-matchList">
          <div class="matchDetail-column">
            <!-- 상품정보 -->
            <div class="match-itemBox">
              <div class="match-imgBox">
                <div class="match-standard">
                  <!-- 상품규격 정보 (기준무게kg/개수/1개당g수)-->
                  <span class="itemWeight kg_number">1</span>/
                  <span class="itemQuantity item_number">2</span>/
                  <span class="itemPerGram perGram_number">3</span>
                </div>
                <img
                  src="../../static/img/main_slide_1.jpg"
                  alt="상품이미지"
                  class="matchItem-img"
                />
              </div>

              <div class="match-column-right">
                <div class="match-isParticipatedBox">
                  <span class="match-isParticipated">참가중</span>
                </div>

                <div class="matchDetail-infoBox">
                  <div class="matchDetail-itemNameBox">
                    <h2 class="matchDetail-itemCategory">떡</h2>
                    <h2 class="matchDetail-itemName">상품명 외 2건</h2>
                  </div>
                  <p class="deliveryDate">0000년 00월 00일</p>
                  <p class="deliveryType">배송종류</p>
                  <p class="aria">배송구 지역동</p>
                </div>

                <div class="matchDetail-nowBidBox">
                  <img
                    src="../../static/img/icon_bestPrice.png"
                    alt=""
                    class="bidPriceImg"
                  />
                  <div class="matchDetail-nowBidPrice">
                    <span class="">[최저 입찰가]</span>
                    <!-- 여기에 현재 최저가 -->
                    <span class="bidPrice price_number">12000</span>
                  </div>
                  <button class="match-participateBtn">재입찰</button>
                </div>
              </div>

              <!-- 합배송일 때만 보임 -->
              <div class="match-buttonBox">
                <button class="match-dropBtn">
                  <span>더보기</span>
                  <span class="match-dropQuantity">+2</span>
                </button>
              </div>
            </div>

            <!-- 합배송일 때 있음. 합배송되는 다른 상품들 같이 표시. -->
            <ul class="matchDetail-otherItemList">
              <li class="matchDetail-otherItem">
                <img src="" alt="" class="matchDetail-otherItemImg" />
                <div class="matchDetail-otherItemInfo">
                  <h4 class="matchDetail-otherItemTitle">합배송하는 상품명</h4>
                  <span class="matchDetail-otherItemStandard"
                    >해당 상품규격</span
                  >
                </div>
              </li>
              <li class="matchDetail-otherItem">
                <img src="" alt="" class="matchDetail-otherItemImg" />
                <div class="matchDetail-otherItemInfo">
                  <h4 class="matchDetail-otherItemTitle">합배송하는 상품명</h4>
                  <span class="matchDetail-otherItemStandard"
                    >해당 상품규격</span
                  >
                </div>
              </li>
            </ul>
          </div>
          <!-- 이 div가 매칭 한개 -->

          <div class="matchDetail-column">
            <!-- 상품정보 -->
            <div class="match-itemBox">
              <div class="match-imgBox">
                <!-- 상품규격은 이미지 hover시 올라옴 -->
                <div class="match-standard">
                  <span class="itemWeight kg_number">1</span>/
                  <span class="itemQuantity item_number">2</span>/
                  <span class="itemPerGram perGram_number">3</span>
                </div>
                <img
                  src="../../static/img/main_slide_1.jpg"
                  alt="상품이미지"
                  class="matchItem-img"
                />
              </div>

              <div class="match-column-right">
                <div class="match-isParticipatedBox">
                  <!-- 참가로 뜸 -->
                  <span class="match-isParticipated">미참가</span>
                </div>

                <div class="matchDetail-infoBox">
                  <div class="matchDetail-itemNameBox">
                    <h2 class="matchDetail-itemCategory">떡</h2>
                    <h2 class="matchDetail-itemName">송편</h2>
                  </div>
                  <p class="deliveryDate">배송년 날월 짜일</p>
                  <p class="deliveryType">배송종류</p>
                  <p class="aria">배송구 지역동</p>
                </div>

                <div class="matchDetail-nowBidBox">
                  <img
                    src="../../static/img/icon_bestPrice.png"
                    alt=""
                    class="bidPriceImg"
                  />
                  <div class="matchDetail-nowBidPrice">
                    <span class="">[최저 입찰가]</span>
                    <span class="bidPrice price_number">12000</span>
                  </div>
                  <button class="match-participateBtn">참가</button>
                </div>
              </div>
            </div>

            <!-- 합배송일 때 합배송되는 다른 상품들 같이 표시 -->
            <!-- <ul class="matchDetail-otherItemList">
              <li class="matchDetail-otherItem">
                <img src="" alt="" class="matchDetail-otherItemImg" />
                <div class="matchDetail-otherItemInfo">
                  <h4 class="matchDetail-otherItemTitle">상품명</h4>
                  <span class="matchDetail-otherItemStandard">상품규격</span>
                </div>
              </li>
            </ul> -->
          </div>
        </div>
      </section>
    </div>
    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <script src="../../static/js/makers/makerMatch_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <script type="text/javascript" th:src="@{/js/makerMatch_front.js}"></script>
  </body>
</html>
