<!-- 입점정보수정 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header class="makerHeader"></header>

    <div class="wrapper wrapper-mypage">
      <aside class="makerAside"></aside>

      <section class="content_box">
        <h3 class="mypage_title">입점정보 관리</h3>
        <div class="enterApprovalBox">
          <!-- 승인의 경우 approved 클래스 포함, 미승인은 없음 -->
          <span class="enterApproval">입점 승인 여부</span>
          <span class="enterApprovalResult">미승인 사유 들어가는곳</span>
        </div>

        <div class="join_cont">
          <form
            method="post"
            id="enterStore"
            th:action="@{/join/makersJoin/makersStoreEnter}"
          >
            <div class="join_box">
              <h3 class="h3_title">판매자 정보 입력</h3>
              <span class="desc"
                >입점승인을 위해 필요한 정보를 입력합니다.</span
              >
              <table class="info-table">
                <tbody>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">판매자 유형</span>
                    </th>
                    <td class="info-bodyColumn">
                      <select class="sellerType" name="sellerType" required>
                        <option value="">선택</option>
                        <option value="국내사업자">국내사업자</option>
                        <option value="국외사업자">국외사업자</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">상호</span>
                    </th>
                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        name="companyName"
                        required
                        placeholder="상호명을 입력해주세요."
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">브랜드</span>
                    </th>
                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        name="BrandName"
                        required
                        placeholder="브랜드명을 입력해주세요."
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">사업자등록번호</span>
                    </th>
                    <td class="info-bodyColumn">
                      <!-- 사업자등록번호 입력 -->
                      <div>
                        <input
                          type="text"
                          class="businessNum"
                          name="inputBusinessNum"
                          maxlength="12"
                          pattern="[0-9]{3}-[0-9]{2}-[0-9]{5}"
                          placeholder="숫자만 입력해주세요."
                          required
                        />
                      </div>

                      <input
                        type="hidden"
                        name="BusinessNumCheck"
                        value="unusable"
                      />
                      <div class="desc_s">
                        <span class="BusinessNumValidationMsg"> </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">사업자등록증 첨부</span>
                    </th>
                    <td class="info-bodyColumn">
                      <!-- 사업자등록증 파일 첨부 -->
                      <div>
                        <input
                          type="file"
                          class="BusinessRegistFile attachFile"
                          accept="application/pdf, image/jpg, image/png"
                          required
                        />
                      </div>
                      <div class="desc_s">
                        <span
                          class="
                            BusinessRegistFileValidationMsg
                            FileValidationMsg
                          "
                          >pdf/jpg/png 파일만 첨부가 가능합니다.</span
                        >
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">대표자 이름</span>
                    </th>
                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        placeholder="성함을 입력해주세요."
                        class="ownerName"
                      />
                      <div>
                        <input
                          type="checkbox"
                          class="checkbox"
                          id="sameNameCheck"
                        />
                        <label class="check_off" for="sameNameCheck"
                          >기본정보와 동일</label
                        >
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">개업일자</span>
                    </th>
                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        placeholder="YYYYMMDD(숫자만 입력)"
                        required
                        class="storeOpenDate"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">사업장 소재지</span>
                    </th>
                    <td class="info-bodyColumn" class="address_inputBox">
                      <div>
                        <input
                          type="text"
                          name="businessAddr"
                          required
                          placeholder="사업자등록증에 있는 주소로 입력"
                        />
                        <button class="businessNumVerifyBtn">진위인증</button>
                      </div>
                      <input type="hidden" name="nameCheck" value="unusable" />
                      <div class="desc_s">
                        <span class="nameValidationMsg"> </span>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">사업자 구분</span>
                    </th>
                    <td class="info-bodyColumn">
                      <select class="sellerClass" name="sellerType" required>
                        <option value="">선택</option>
                        <option value="individual">개인</option>
                        <option value="corporate">법인</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">업태</span>
                    </th>
                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        name="businessStatus"
                        required
                        placeholder="대표 업태를 입력해주세요."
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">업종</span>
                    </th>
                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        name="businessType"
                        required
                        placeholder="대표 업종을 입력해주세요."
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">통신판매업신고번호</span>
                    </th>

                    <td class="info-bodyColumn">
                      <input
                        type="text"
                        class="salesNum"
                        placeholder="신고번호를 입력해주세요."
                        pattern="[0-9]{4}-[가-힣]{4}-[0-9]{4,6}"
                        name="inputReportNum"
                        required
                      />
                      <div class="desc_s">
                        <span class="reportNumValidationMsg"> </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">통신판매업신고증 첨부</span>
                    </th>
                    <td class="info-bodyColumn">
                      <!-- 통신판매업 파일 첨부 -->

                      <input
                        type="file"
                        class="reportNumfFile attachFile"
                        accept="application/pdf, image/jpg, image/png"
                        required
                      />

                      <div class="desc_s">
                        <span
                          class="
                            BusinessRegistFileValidationMsg
                            FileValidationMsg
                          "
                          >pdf/jpg/png 파일만 첨부가 가능합니다.</span
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="join_box">
              <h3 class="h3_title">상품 대표 카테고리</h3>
              <table>
                <colgroup>
                  <col width="25%" />
                  <col width="75%" />
                </colgroup>
                <tbody>
                  <th class="info-headColumn">
                    <span class="text required">대표 카테고리</span>
                  </th>
                  <td class="info-bodyColumn">
                    <select name="repItemCate" id="">
                      <option value="">선택</option>
                      <option value="떡">떡</option>
                      <option value="제과">제과</option>
                      <option value="제빵">제빵</option>
                      <option value="음료">음료</option>
                    </select>
                  </td>
                </tbody>
              </table>
            </div>

            <div class="join_box">
              <h3 class="h3_title">매장 인증 사진 첨부</h3>
              <table>
                <colgroup>
                  <col width="25%" />
                  <col width="75%" />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">점포 전면사진</span>
                    </th>
                    <td class="info-bodyColumn">
                      <div>
                        <input
                          type="file"
                          class="storeFrontImg attachFile"
                          accept="application/pdf, image/jpg, image/png"
                          required
                        />
                      </div>
                      <div class="desc_s">
                        <span class="FileValidationMsg"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">주방 내부사진1</span>
                    </th>
                    <td class="info-bodyColumn">
                      <div>
                        <input
                          type="file"
                          class="kitchenImg1 attachFile"
                          accept="application/pdf, image/jpg, image/png"
                          required
                        />
                      </div>
                      <div class="desc_s">
                        <span class="FileValidationMsg"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">주방 내부사진2</span>
                    </th>
                    <td class="info-bodyColumn">
                      <div>
                        <input
                          type="file"
                          class="kitchenImg2 attachFile"
                          accept="application/pdf, image/jpg, image/png"
                          required
                        />
                      </div>
                      <div class="desc_s">
                        <span class="FileValidationMsg"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="info-headColumn">
                      <span class="text required">주방 내부사진3</span>
                    </th>
                    <td class="info-bodyColumn">
                      <div>
                        <input
                          type="file"
                          class="kitchenImg3 attachFile"
                          accept="application/pdf, image/jpg, image/png"
                          required
                        />
                      </div>
                      <div class="desc_s">
                        <span class="FileValidationMsg"></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="boxborder">
              <p>
                -신청 전 상품 판매를 희망하는 카테고리와 작성한 정보가 잘
                입력되었는지 다시한 번 확인해주시기 바랍니다.
              </p>
              <p>
                -신청서 제출 후 완료시점 기준으로 2~3 영업일 이내에 입점 권한이
                부여됩니다.
              </p>
            </div>

            <!--넘어가는 버튼-->
            <div class="button_box">
              <button class="info-updateBtn">수정 후 재신청하기</button>
            </div>
          </form>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
  </body>
</html>
