<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../../static/css/styleMakers.css"
    />
    <link type="text/css" rel="stylesheet" th:href="@{/css/styleMakers.css}" />
    <script
      src="https://kit.fontawesome.com/7161175c87.js"
      crossorigin="anonymous"
    ></script>

    <title>월간방앗간</title>
  </head>
  <body>
    <header class="makerHeader"></header>

    <div class="wrapper">
      <section class="makerMain">
        <!-- 클릭 시 공지사항으로 이동 -->
        <div class="mainNoticeBox">
          <i class="fas fa-volume-off"></i>
          <p class="mainNotice">여기에 가장 최신 공지사항 1개 제목 들어감!</p>
        </div>

        <div class="content_box">
          <div class="makerMain-body">
            <!-- 왼쪽 컬럼 -->
            <div class="mainweeklyBest">
              <h3 class="mainTitle">이번 주 고객 베스트 메뉴</h3>
              <ol class="bestItemList">
                <!-- 이 div하나가 베스트아이템 하나  -->
                <div class="bestItem bestItem-open">
                  <li class="bestItemName">
                    <span>설기</span>
                  </li>
                  <img
                    src="../../static/img/main_slide_1.jpg"
                    alt="이미지"
                    class="bestItemImg"
                  />
                </div>

                <div class="bestItem">
                  <li class="bestItemName">
                    <span>설기</span>
                  </li>
                  <img
                    src="../../static/img/main_intro1_백설기.jpg"
                    alt="이미지"
                    class="bestItemImg"
                  />
                </div>
                <div class="bestItem">
                  <li class="bestItemName">
                    <span>설기</span>
                  </li>
                  <img
                    src="../../static/img/main_intro1_백설기.jpg"
                    alt="이미지"
                    class="bestItemImg"
                  />
                </div>
                <div class="bestItem">
                  <li class="bestItemName">
                    <span>설기</span>
                  </li>
                  <img
                    src="../../static/img/main_intro1_백설기.jpg"
                    alt="이미지"
                    class="bestItemImg"
                  />
                </div>
                <div class="bestItem">
                  <li class="bestItemName">
                    <span>설기</span>
                  </li>
                  <img
                    src="../../static/img/main_intro1_백설기.jpg"
                    alt="이미지"
                    class="bestItemImg"
                  />
                </div>
              </ol>
            </div>

            <!-- 오른쪽 컬럼 -->
            <div class="bottomColumn">
              <div class="mainAgeBest">
                <h3 class="mainTitle">연령대별 선호제품</h3>

                <div class="mainAgeBest-columns">
                  <!-- 이 mainAgeBest-column 클래스 div 하나가 연령대 컬럼 -->
                  <div class="mainAgeBest-column">
                    <h4 class="mainSubtitle">어린이/청소년</h4>
                    <div class="mainAgeBest-columnTap">
                      <button class="mainAgeBestBtn prevBtn"><</button>
                      <ol class="sub-bestItemList">
                        <!-- 이 div하나가 어린이/청소년 베스트 탭 아이템 하나 -->
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>

                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                      </ol>
                      <button class="mainAgeBestBtn nextBtn">></button>
                    </div>
                  </div>

                  <div class="mainAgeBest-column">
                    <h4 class="mainSubtitle">성인/직장인</h4>
                    <div class="mainAgeBest-columnTap">
                      <button class="mainAgeBestBtn prevBtn"><</button>
                      <ol class="sub-bestItemList">
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                      </ol>
                      <button class="mainAgeBestBtn nextBtn">></button>
                    </div>
                  </div>

                  <div class="mainAgeBest-column">
                    <h4 class="mainSubtitle">중장년/노인</h4>
                    <div class="mainAgeBest-columnTap">
                      <button class="mainAgeBestBtn prevBtn"><</button>
                      <ol class="sub-bestItemList">
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                        <div class="sub-bestItemBox">
                          <img src="" alt="이미지" class="sub-bestItemImg" />
                          <li class="sub-bestItem">
                            <span class="itemName">설기</span>
                          </li>
                        </div>
                      </ol>
                      <button class="mainAgeBestBtn nextBtn">></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mainMatch">
                <h3 class="mainMatch-title">매칭</h3>
                <ul class="mainMatch-columns">
                  <li class="mainMatch-item">
                    <span>당월 매칭 건수</span>
                    <span class="mainMatch-number match_number">1</span>
                  </li>
                  <li class="mainMatch-item">
                    <span>나의 매칭 현황</span>
                    <span class="mainMatch-number match_number">1</span>
                  </li>
                  <li class="mainMatch-item">
                    <span>대기중인 매칭</span>
                    <span class="mainMatch-number match_number">1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer></footer>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/layout_front.js"></script>
    <!--<script
      type="text/javascript"
      src="../../static/js/mainPage_front.js"
    ></script> -->

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layout_front.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/js/mainPage_front.js}"></script> -->
  </body>
</html>
