<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.monthlyMill.customer.shoppingCart.CartMapper">
	<resultMap type="Cart"	id="cartResultMap">
		<result property="cartNum"			column="cart_num"/>
		<result property="memberNum"		column="member_num"/>
		<result property="pCode"			column="product_code"/>
		<result property="pAmount"			column="amount"/>
		<result property="cartRegDate"		column="cart_reg_date"/>
	</resultMap>
	
	<select id="selectProductInCart" parameterType="map" resultMap="cartResultMap">
		SELECT
			cart.*
		FROM
			member_cart AS cart
			WHERE 
				cart.member_num = #{memberNum}
				and
				cart.product_code = #{pCode}
	</select>
	
	<insert id="addItem" parameterType="map">
		INSERT INTO member_cart
		(cart_num, member_num, product_code, amount, cart_reg_date)
		VALUES (0, #{memberNum}, #{pCode}, 1, CURDATE());
	</insert>
	
	<update id="updateProductAmount" parameterType="map">
		UPDATE member_cart
		SET
			amount=#{pAmount},
			cart_reg_date=CURDATE()
		WHERE cart_num=#{cartNum}
	</update>
	
	<select id="getCartListByMemberNum" parameterType="String" resultType="map">
		SELECT
			DISTINCT(mCart.cart_num) as cartNum,
			mCart.product_code as pCode, 
			mCart.amount as pAmount, 
			pInfo.product_name as pName, 
			pInfo.product_price as pPrice,
			pInfo.default_shipping_fee as defaultShippingFee
		FROM 
			member_cart AS mCart
		INNER JOIN 
			product_info AS pInfo
		ON 
			mCart.product_code = pInfo.product_code
		LEFT JOIN
			order_info AS oInfo
		on
			mCart.cart_num = oInfo.cart_num
		WHERE mCart.member_num = #{memberNum}
		ORDER BY cartNum ASC;
	</select>
	
	<update id="updateCartByCartNum" parameterType="map">
		UPDATE member_cart
		SET
			amount=#{pAmount}
		WHERE cart_num=#{cartNum}
	</update>
	
	<select id="getCartInfoByCartNum" parameterType="int" resultMap="cartResultMap">
		SELECT cart_num, member_num, product_code, amount, cart_reg_date
		FROM member_cart
		where cart_num = #{cartNum};
	</select>
	
	<delete id="deleteCartByCartNum" parameterType="int">
		DELETE FROM member_cart WHERE cart_num=#{cartNum}
	</delete>
	
</mapper>