<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.monthlyMill.customer.order.OrderMapper">
	<resultMap type="Order"	id="orderResultMap">
		<result property="idx"					column="idx"/>
		<result property="orderNum"				column="order_num"/>
		<result property="memberNum"			column="member_num"/>
		<result property="pCode"				column="product_code"/>
		<result property="cartNum"				column="cart_num"/>
		<result property="pCount"				column="product_count"/>
		<result property="pPrice"				column="product_price"/>
		<result property="orderDate"			column="order_date"/>
		<result property="expDelDate"			column="exp_delivery_date"/>
		<result property="paymentCheck"			column="payment_check"/>
		<result property="refundCheck"			column="refund_check"/>
		<result property="orderModifyDate"		column="order_modify_date"/>
		<result property="orderRegDate"			column="order_reg_date"/>
		<result property="receiverName"			column="receiver_name"/>
		<result property="receiverPhoneNum"		column="receiver_phone"/>
		<result property="receiverHomeNum"		column="receiver_home"/>
		<result property="receiverPostalCode"	column="receiver_postal_code"/>
		<result property="receiverAddr"			column="receiver_addr"/>
		<result property="receiverDetailAddr"	column="receiver_detail_addr"/>
	</resultMap>
	
	<select id="selectOrderSequence" resultType="String">
		SELECT
			if(COUNT(0)=0, '1', substring(MAX(oi.order_num), 11)+1)
		FROM
			order_info AS oi
			where
				oi.order_reg_date = CURDATE();
	</select>
	
	<insert id="addOrder" parameterType="Order">
		INSERT INTO order_info
			(idx, order_num, member_num, product_code, cart_num, product_count, order_date, exp_delivery_date, payment_check, refund_check, order_modify_date, order_reg_date, receiver_name, receiver_phone, receiver_home, receiver_postal_code, receiver_addr, receiver_detail_addr)
		VALUES (NULL, #{orderNum}, #{memberNum}, #{pCode}, #{cartNum}, #{pCount}, NOW(), NOW(), 'N', 'N', CURDATE(), CURDATE()
			, #{receiverName}, #{receiverPhoneNum}, #{receiverHomeNum}, #{receiverPostalCode}, #{receiverAddr}, #{receiverDetailAddr})
	</insert>
	
	
	
</mapper>