<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.monthlyMill.customer.recommendation.RecommendMapper">
	<resultMap type="Product" 		id="productResultMap">
		<result property="pCode"				column="product_code"/>
		<result property="pCate"				column="product_cate"/>
		<result property="pName"				column="product_name"/>
		<result property="pPrice"				column="product_price"/>
		<result property="discountCheck"		column="discount_check"/>
		<result property="discountAmount"		column="discount_amount"/>
		<result property="discountType"			column="discount_type"/>
		<result property="sellStartDate"		column="sell_start_date"/>
		<result property="sellCompDate"			column="sell_comp_date"/>
		<result property="vatType"				column="vat_type"/>
		<result property="quantityLimit"		column="quantity_limit"/>
		<result property="thumbName"			column="thumbnail_file_name"/>
		<result property="thumbPath"			column="thumbnail_file_path"/>
		<result property="thumbSize"			column="thumbnail_file_size"/>
		<result property="imgName"				column="extra_file_name"/>
		<result property="imgPath"				column="extra_file_path"/>
		<result property="imgSize"				column="extra_file_size"/>
		<result property="nutrition"			column="nutrition"/>
		<result property="detail"				column="product_detail"/>
		<result property="recipe"				column="recipe"/>
		<result property="ingredient"			column="product_ingredient"/>
		<result property="regId"				column="product_reg_member"/>
		<result property="pModifyDate"			column="product_info_modify_date"/>
		<result property="pRegDate"				column="product_info_reg_date"/>
		<result property="pPreferAge"			column="product_prefer_age"/>
		<result property="pMainUsage"			column="product_main_usage"/>
		<result property="pTexture"				column="product_texture"/>
		<result property="pTaste"				column="product_taste"/>
		<result property="defaultShippingFee"	column="default_shipping_fee"/>
		<result property="hashTag"				column="product_hashtag"/>
	</resultMap>
	
	<select id="getRcmdProductInfo" parameterType="map" resultType="map">
		SELECT 
			product_code as pCode,
			product_name as pName, 
			product_price as pPrice, 
			product_ingredient as pIngredient,
			nutrition as pNutrition, 
			product_prefer_age as pPreferAge,
			product_main_usage as pMainUsage, 
			product_texture as pTexture,  
			product_taste as pTaste,
			thumbnail_file_name as thumbName,
			thumbnail_file_path as thumbPath,
			thumbnail_file_size as thumbSize
		FROM product_info
			<trim prefix="WHERE" suffixOverrides="or">
				<foreach item="item" index="key" collection="list" separator="">
					<if test="item.pPrice != null and item.pPrice != ''.toString()">
						product_price 
						<if test="item.pPrice == 'tag00018'">
							<![CDATA[ < 10000 ]]> or
						</if>
						<if test="item.pPrice == 'tag00019'">
							<![CDATA[ between 10000  and 30000 ]]> or
						</if>
						<if test="item.pPrice == 'tag00020'">
							<![CDATA[ between 30000  and 50000 ]]> or
						</if>
						<if test="item.pPrice == 'tag00021'">
							<![CDATA[ between 50000  and 100000 ]]> or
						</if>
						<if test="item.pPrice == 'tag00022'"> 
							<![CDATA[ > 100000 ]]> or
						</if>
						<if test="item.pPrice == 'tag00026'">
							<![CDATA[ > 1 ]]> or
						</if>
					</if>
					<if test="item.tagNames != null and item.tagNames != ''.toString()">
						product_hashtag LIKE concat ('%', #{item.tagNames}, '%') or
					</if>
				</foreach>
			</trim>
	</select>
	
	<!-- 
	<select id="getRcmdProductInfo" parameterType="list" resultMap="productResultMap">
		SELECT product_code, product_name, product_price, product_ingredient, product_nutrition, product_prefer_age, product_main_usage, product_texture, product_taste
		FROM product_info
			WHERE
			<trim suffixOverrides="AND">
				<foreach item="item" index="key" collection="list" separator="">
					<if test="item != null and item != ''.toString()">
						product_prefer_age LIKE concat ('%', #{item}, '%') AND
					</if>
				</foreach>
			</trim>
	</select>
	
	 -->
	
	<!-- <select id="getRcmdProductInfo" parameterType="map" resultMap="productResultMap">
		SELECT product_code, product_name, product_price, product_ingredient, product_nutrition, product_prefer_age, product_main_usage, product_texture, product_taste
		FROM product_info
			WHERE
			<trim prefix="AND">
	
				<if test="pPreferAge != null and pPreferAge != ''.toString()">
					product_prefer_age LIKE concat ('%', #{pPreferAge}, '%')
				</if>
				<if test="pMainUsage != null and pMainUsage != ''.toString()">
					product_main_usage LIKE concat ('%', #{pMainUsage}, '%')
				</if>
				<if test="pTexture != null and pTexture != ''.toString()">
					product_texture LIKE concat ('%', #{pTexture}, '%')
				</if>
				<if test="pTaste != null and pTaste != ''.toString()">
					product_taste LIKE concat ('%', #{pTaste}, '%')
				</if>
			</trim>
	</select> -->
	
	
	
</mapper>