<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스마트스토어 엑셀관리</title>
    <link rel="stylesheet" href="../../static/css/screens/smartstore.css" />
    <link rel="stylesheet" th:href="@{/css/screens/smartstore.css}" />
  </head>
  <body>
    <!-- 상단 공통메뉴 -->
    <header class="header" data-page-number="2">
      <div class="headerWrap">
        <ul class="headerColumn-left">
          <li class="headerMenu">
          	<a th:href="@{/smartStore/main}">시트등록</a></li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/orderList}">데이터 조회/수정</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/productionPlan}">생산일지</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/productList}">상품표</a>
          </li>
        </ul>
        <div class="headerColumn-right">
          <span th:if="${session.SESSIONNAME != null}" class="header-userName"
            >[[${session.SESSIONNAME}]]</span
          >
          <button class="header-logoutBtn">로그아웃</button>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <section class="topSection">
        <h1 class="pageTitle">일별 주문 상세내역(날짜병합)</h1>
        <div class="top-box">
          <div class="top-box-column">
            <button class="printBtn">출력하기</button>
          </div>
          <div class="top-box-column">
            <div class="top-searchBox">
              <div class="searchBox">
                <select name="" class="categorySelect">
                  <option value="">검색조건</option>
                  <option value="">구분명</option>
                </select>
                <input
                  type="text"
                  class="searchTextInput"
                  placeholder="검색어 입력"
                />
              </div>
            </div>
            <div class="top-searchBtnBox">
              <button class="textBtn addSearchBtn">+검색조건추가</button>
              <button class="searchBtn">검색</button>
            </div>
          </div>
        </div>
      </section>
      <section class="tableSection">
        <table class="table">
          <thead class="theadFix">
            <tr>
              <!-- 생산완료, 배송형태는 데이터에 없고 무조건 수기입력하는 부분 -->
              <th class="thead deliveryDate" rowspan="4">희망일</th>
              <th class="thead orderSite" rowspan="4">주문사이트</th>
              <th class="thead number" rowspan="4">번호</th>
              <th class="thead content" rowspan="4">주문내용</th>

              <!--  <th class="thead paymentDate">결제일</th>
              <th class="thead orderItemList">발주품목</th>
              <th class="thead quantity">수량</th>
              <th class="thead eachTotalPrice">상품별 총 주문금액</th>
              <th class="thead sendDate" rowspan="4">발송기한</th>

              <th class="thead noprint productFinishTime" rowspan="4">
                생산완료
              </th>
              <th class="thead noprint registerTime" rowspan="4">예약시간</th>
              <th class="thead noprint deliveryStyle" rowspan="4">배송형태</th>
            </tr>
            <tr>
              <th class="thead">수기</th>
              <th class="thead optionInfo">옵션정보</th>
              <th class="thead deliveryType" colspan="2">배송방법</th>
            </tr>
            <tr>
              <th class="thead receiverName">수취인</th>
              <th class="thead deliveryDestination">배송지</th>
              <th class="thead receiverPhone" colspan="2">수취인연락처1</th>
            </tr>
            <tr>
              <th class="thead purchaserName">구매자명</th>
              <th class="thead deliveryMsg">배송메세지</th>
              <th class="thead purchaserPhone" colspan="2">구매자연락처</th>
            </tr> -->
            </tr>
          </thead>

          <tbody>
            <!-- <tr class="trow" th:each=" l,n : ${orderList}">
              <td
                class="tdata changeable-text deliveryDate"
                rowspan="4"
                th:text="${l.expDeliveryDate}"
              >
                희망일
              </td>
              <td
                class="tdata changeable-text orderSite"
                rowspan="4"
                th:text="${l.orderType}"
              >
                주문사이트

              </td>

              <td class="tdata number" rowspan="4" th:text="${n.index+1}">1</td>
              <td
                class="tdata changeable-date paymentDate"
                th:text="${l.paidDate}"
              >
                결제일
              </td>
              <td
                class="tdata changeable-text orderItemList"
                th:text="${l.detailedProduct}"
              >
                발주품목
              </td>
              <td class="tdata quantity" th:text="${l.orderQuantity}">수량</td>
              <td
                class="tdata changeable-text eachTotalPrice"
                th:text="${l.totOrderAmount}"
              >
                상품별 총 주문금액
              </td>
              <td
                class="tdata changeable-date sendDate"
                rowspan="4"
                th:text="${l.shippingDate}"
              >
                발송기한
              </td>
              <td
                class="tdata changeable-text noprint productFinishTime"
                rowspan="4"
                th:text="${l.expDeliveryDate}"
              >
                생산완료
              </td>
              <td
                class="tdata noprint registerTime"
                rowspan="4"
                th:text="${l.expDeliveryDate}"
              >
                예약시간
              </td>
              <td
                class="tdata changeable-text noprint deliveryStyle"
                rowspan="4"
                th:text="${l.shippingMethod}"
              >
                배송형태
              </td>
            </tr>
            <tr class="trow" th:each=" l : ${orderList}">
              <td class="tdata">수기</td>
              <td
                class="tdata changeable-text optionInfo"
                th:text="${l.option}"
              >
                옵션정보
              </td>
              <td
                class="tdata changeable-text deliveryType"
                colspan="2"
                th:text="${l.shippingMethod}"
              >
                배송방법
              </td>
            </tr>
            <tr class="trow" th:each=" l : ${orderList}">
              <td
                class="tdata changeable-text receiverName"
                th:text="${l.receiverName}"
              >
                수취인
              </td>
              <td
                class="tdata changeable-text deliveryDestination"
                th:text="${l.shippingAddr}"
              >
                배송지
              </td>
              <td
                class="tdata changeable-text receiverPhone"
                colspan="2"
                th:text="${l.receiverPhone}"
              >
                수취인연락처
              </td>
            </tr>
            <tr class="trow multirow" th:each=" l : ${orderList}">
              <td class="tdata purchaserName" th:text="${l.ordererName}">
                구매자명
              </td>
              <td
                class="tdata changeable-text deliveryMsg"
                th:text="${l.delieveryMsg}"
              >
                배송메세지
              </td>
              <td
                class="tdata purchaserPhone"
                colspan="2"
                th:text="${l.orderderPhone}"
              >
                구매자연락처
              </td>
            </tr> -->

            <tr class="trow" th:each="l, n : ${orderList}" >
              <td class="tdata deliveryDate changeable-text" th:text="${l.expDeliveryDate}">11월 12일</td>
              <td class="tdata orderSite changeable-text" th:text="${l.orderType}">N스토어</td>
              <td class="tdata number" th:text="${n.index+1}">1</td>
              <td class="tdata tdata-itembox">
                <ul class="tdata-column">
                  <div class="tdata-column-2">
                    <li class="tdata-column-list">
                      <span>결제일</span>
                      <span class="paymentDate changeable-date"
                        th:text="${l.paidDate}">2021-11-11</span
                      >
                    </li>
                    <li class="tdata-column-list">
                      <span>발송기한</span>
                      <span class="productFinishTime changeable-date"
                        th:text="${l.shippingDate}">2021-11-11</span
                      >
                    </li>
                  </div>
                  <div class="tdata-column-2">
                    <li class="tdata-column-list">
                      <span>구매자</span>
                      <div>
                        <span class="purchaserName changeable-text"
                         th:text="${l.ordererName}">
                          홍길동</span
                        >
                        <span class="purchaserPhone changeable-text"
                          th:text="'(' + ${l.orderderPhone} + ')'">(010-1111-2222)</span
                        >
                      </div>
                    </li>
                    <li class="tdata-column-list">
                      <span>수취인</span>
                      <div>
                        <span class="receiverName changeable-text" th:text="${l.receiverName}">김철수</span>
                        <span class="receiverPhone changeable-text"
                          th:text="'(' + ${l.receiverPhone} + ')'">(010-1111-2222)</span
                        >
                      </div>
                    </li>
                  </div>
                  <li class="tdata-column-list">
                    <span>발주품목</span>
                    <span class="orderItemList changeable-text"
                      th:text="${l.productName}">발주품목이름</span
                    >
                  </li>
                  <li class="tdata-column-list">
                    <span>수량</span>
                    <span class="quantity changeable-number" th:text="${l.orderQuantity}">2</span>
                  </li>
                  <li class="tdata-column-list">
                    <span>옵션정보</span>
                    <span class="optionInfo changeable-text" th:text="${l.option}">옵션내용</span>
                  </li>
                  <li class="tdata-column-list">
                    <span>주문금액</span>
                    <span class="eachTotalPrice price_number changeable-price"
                      th:text="${l.totOrderAmount}">50,000</span
                    >
                  </li>
                  <div class="tdata-column-2">
                    <li class="tdata-column-list">
                      <span>배송방법</span>
                      <span class="deliveryType changeable-text" th:text="${l.shippingMethod}">퀵</span>
                    </li>
                    <li class="tdata-column-list">
                      <span>배송비</span>
                      <span class="deliveryPrice changeable-price price_number"
                        th:text="${l.shippingFee}">3000</span
                      >
                    </li>
                  </div>
                  <li class="tdata-column-list">
                    <span>배송지</span>
                    <p class="deliveryDestination changeable-text" th:text="${l.shippingAddr}">
                      서울특별시 서초구 신반포로23길 30 (잠원동, 반원상가)
                      우리은행 잠원동 지점
                    </p>
                  </li>
                  <li class="tdata-column-list">
                    <span>메세지</span>
                    <p class="deliveryMsg changeable-text" th:text="${l.delieveryMsg}">
                      (첫돌)퀵배송받을꺼고요~
                      아기가자고있어서밑에현관비번(#2361)
                      1302호문앞에놓아주시고가면됩니다
                    </p>
                  </li>
                  <li class="tdata-column-list">
                    <span>배송시간</span>
                    <span class="deliveryTime changeable-text"
                      th:text="${l.expDeliveryDate}">1부인지 2부인지 시간정보 입력</span
                    >
                  </li>
                </ul>
              </td>
            </tr>
            <!-- 여기까지해서 한줄 -->
          </tbody>
        </table>
      </section>
    </div>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/smartstore/common.js"></script>
    <script src="../../static/js/smartstore/tableUpdate_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/common.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/tableUpdate_front.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/order.js}"
    ></script>
  </body>
</html>
