<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스마트스토어 엑셀관리</title>
    <link rel="stylesheet" href="../../static/css/screens/smartstore.css" />
    <link rel="stylesheet" th:href="@{/css/screens/smartstore.css}" />
  </head>
  <body>
    <!-- 상단 공통메뉴 -->
    <header class="header" data-page-number="1"></header>

    <div class="wrapper">
      <section class="manualWrapper">
        <div class="manual">
          <div class="manualTitle">
            <h3>수기 등록</h3>
          </div>
          <div class="manualBody">
            <table class="manualTable">
              <tr class="manualRow">
                <th class="manualTh">발송기한</th>
                <td>
                  <input type="date" class="manualInput sendDate-input" />
                </td>
              </tr>
              <tr class="manualRow">
                <th class="manualTh">결제일</th>
                <td>
                  <input type="date" class="manualInput paymentDate-input" />
                  <input type="time" class="manualInput paymentDate-input" />
                </td>
              </tr>
              <tr class="manualRow">
                <th class="manualTh">배송방법</th>
                <td>
                  <select class="manualInput deliveryType-input">
                    <option value="visitReceipt">방문수령</option>
                    <option value="directDelivery">직접전달</option>
                    <option value="quickService">퀵서비스</option>
                    <option value="parcel">택배,등기,소포</option>
                  </select>
                </td>
              </tr>
              <tr class="manualRow">
                <th class="manualTh">구매자명</th>
                <td>
                  <input type="text" class="manualInput purchaserName-input" />
                </td>
              </tr>
              <tr class="manualRow">
                <th class="manualTh">구매자연락처</th>
                <td>
                  <input type="text" class="manualInput purchaserPhone-input" />
                </td>
              </tr>
            </table>

            <!-- 한 주문당 여러 개 나올 수 있는 부분 -->
            <div class="manualListItemBox">
              <ul class="manualListItem">
                <h5 class="manualListTitle">
                  <span>상품</span>
                  <span class="manualList-number">1</span>
                </h5>
                <li class="manualList">
                  <span class="manualTh">수취인명</span>
                  <input type="text" class="manualInput receiverName-input" />
                </li>
                <li class="manualList">
                  <span class="manualTh">수취인연락처</span>
                  <input
                    type="text"
                    class="manualInput receiverPhone-input"
                    placeholder="전화번호입력"
                    maxlength="13"
                  />
                </li>
                <li class="manualList">
                  <span class="manualTh">상품명</span>
                  <input type="text" class="manualInput itemName-input" />
                </li>
                <li class="manualList">
                  <span class="manualTh">발주품목</span>
                  <select class="manualInput orderItemList-input">
                    <option value="">백일상</option>
                    <option value="">등록된 품목</option>
                  </select>
                </li>

                <li class="manualList">
                  <span class="manualTh">수량</span>
                  <div class="manualInput-unitBox">
                    <input
                      type="number"
                      class="manualInput quantity-input"
                      min="0"
                    /><span> 개</span>
                  </div>
                </li>
                <!-- 이건 자동계산되서 뜨게 -->
                <li class="manualList">
                  <span class="manualTh">상품별 총 주문금액</span>
                  <span class="manualInput eachTotalPrice-input price_number"
                    >0</span
                  >
                </li>
                <li class="manualList">
                  <span class="manualTh">옵션정보</span>
                  <input type="text" class="manualInput optionInfo-input" />
                </li>
                <li class="manualList">
                  <span class="manualTh">배송지</span>
                  <input
                    type="text"
                    class="manualInput deliveryDestination-input"
                  />
                </li>
                <li class="manualList">
                  <span class="manualTh">배송메세지</span>
                  <input type="text" class="manualInput deliveryMsg-input" />
                </li>
                <li class="manualList">
                  <span class="manualTh">배송비</span>
                  <div class="manualInput-unitBox">
                    <input
                      type="number"
                      class="manualInput deliveryCharge-input"
                      step="10"
                      min="0"
                    />
                    <span>원</span>
                  </div>
                </li>
                <li class="manualList">
                  <span class="manualTh">주문종류</span>
                  <select class="manualInput orderType-input">
                    <option value="N스토어">N스토어</option>
                    <option value="N예약">N예약</option>
                    <option value="매장주문">매장주문</option>
                  </select>
                </li>
                <li class="manualList">
                  <span class="manualTh">희망일</span>
                  <div>
                    <input type="date" class="manualInput deliveryDate-input" />
                    <select class="manualInput deliveryDatePart-input">
                      <option value="1부">1부</option>
                      <option value="2부">2부</option>
                    </select>
                    <input
                      type="time"
                      class="manualInput deliveryDateTime-input hidden"
                      step="1800"
                    />
                  </div>
                </li>
              </ul>
            </div>
            <div class="manualListBtnBox">
              <button class="addManualListItemBoxBtn">+상품 추가</button>
            </div>
          </div>
          <div class="manualBtnBox">
            <button class="manualEnterBtn emp-color">등록</button>
            <button class="manualCancelBtn">취소</button>
          </div>
        </div>
      </section>
    </div>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/smartstore/common.js"></script>
    <script src="../../static/js/smartstore/addManual_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/common.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/addManual_front.js}"
    ></script>
  </body>
</html>
