<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스마트스토어 엑셀관리</title>
    <link rel="stylesheet" href="../../static/css/screens/smartstore.css" />
    <link rel="stylesheet" th:href="@{/css/screens/smartstore.css}" />
  </head>
  <body>
    <!-- 상단 공통메뉴 -->
    <header class="header" data-page-number="1">
      <div class="headerWrap">
        <ul class="headerColumn-left">
          <li class="headerMenu"><a href="@{/smartStore/main}">시트등록</a></li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/orderList}">데이터 조회/수정</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/productionPlan}">생산일지</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/productList}">상품표</a>
          </li>
        </ul>
        <div class="headerColumn-right">
          <span th:if="${session.SESSIONNAME != null}" class="header-userName"
            >[[${session.SESSIONNAME}]]</span
          >
          <button class="header-logoutBtn">로그아웃</button>
        </div>
      </div>
    </header>

    <!-- 본문 -->
    <div class="wrapper">
      <!-- 본문 상단 컨트롤 영역 -->
      <section class="topSection">
        <h1 class="pageTitle">파일등록</h1>

        <div class="top-box">
          <!-- <div>
            <button type="file" class="attchExcelBtn">엑셀파일등록</button>
            <select class="categorySelect">
              <option value="N 스토어">N 스토어</option>
              <option value="N 예약">N 예약</option>
              <option value="전화예약">전화예약</option>
            </select>
            <button class="attchCategoryBtn">선택파일등록</button>
          </div> -->
          <button class="inputLineBtn">수기등록</button>
        </div>
      </section>

      <!-- 테이블 영역 -->
      <section class="tableSection">
        <table class="table">
          <thead class="theadFix">
            <!-- 총 15항목 -->
            <th class="thead sendDate">발송기한</th>
            <th class="thead paymentDate">결제일</th>
            <th class="thead deliveryType">배송방법</th>
            <th class="thead purchaserName">구매자명</th>
            <th class="thead purchaserPhone">구매자연락처</th>
            <th class="thead receiverName">수취인명</th>
            <th class="thead receiverPhone">수취인연락처1</th>
            <th class="thead itemName">상품명</th>
            <th class="thead orderItemList">발주품목</th>
            <th class="thead quantity">수량</th>
            <th class="thead eachTotalPrice">상품별 총 주문금액</th>
            <th class="thead optionInfo">옵션정보</th>
            <th class="thead deliveryDestination">배송지</th>
            <th class="thead deliveryMsg">배송메세지</th>
            <th class="thead deliveryDate">희망일</th>
          </thead>
          <tbody class="tbody">
            <tr class="trow" th:each="l : ${allOrderInfo}">
              <td class="tdata sendDate">
                <span
                  title="${l.shippingDate}"
                  th:text="${l.shippingDate}"
                ></span>
              </td>
              <td class="tdata paymentDate">
                <span title="${l.paidDate}" th:text="${l.paidDate}"></span>
              </td>
              <td class="tdata deliveryType">
                <span
                  title="${l.shippingMethod}"
                  th:text="${l.shippingMethod}"
                ></span>
              </td>
              <td class="tdata purchaserName">
                <span
                  title="${l.ordererName}"
                  th:text="${l.ordererName}"
                ></span>
              </td>
              <td class="tdata purchaserPhone">
                <span
                  title="${l.orderderPhone}"
                  th:text="${l.orderderPhone}"
                ></span>
              </td>
              <td class="tdata receiverName" th:title="${l.receiverName}">
                <span th:text="${l.receiverName}"> </span>
              </td>
              <td class="tdata receiverPhone">
                <span
                  th:title="${l.receiverPhone}"
                  th:text="${l.receiverPhone}"
                >
                </span>
              </td>
              <td class="tdata itemName">
                <span th:title="${l.productName}" th:text="${l.productName}">
                </span>
              </td>
              <td class="tdata orderItemList">
                <span
                  th:title="${l.detailedProduct}"
                  th:text="${l.detailedProduct}"
                >
                </span>
              </td>
              <td class="tdata quantity">
                <span
                  th:title="${l.orderQuantity}"
                  th:text="${l.orderQuantity}"
                >
                </span>
              </td>
              <td class="tdata eachTotalPrice">
                <span
                  th:title="${l.totOrderAmount}"
                  th:text="${l.totOrderAmount}"
                >
                </span>
              </td>
              <td class="tdata optionInfo">
                <span th:title="${l.option}" th:text="${l.option}"> </span>
              </td>
              <td class="tdata deliveryDestination">
                <span th:title="${l.shippingAddr}" th:text="${l.shippingAddr}">
                </span>
              </td>
              <td class="tdata deliveryMsg">
                <span th:title="${l.delieveryMsg}" th:text="${l.delieveryMsg}">
                </span>
              </td>
              <td class="tdata deliveryDate">
                <span
                  th:title="${l.expDeliveryDate}"
                  th:text="${l.expDeliveryDate}"
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/smartstore/common.js"></script>
    <script src="../../static/js/smartstore/attachFile_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/common.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/attachFile_front.js}"
    ></script>
  </body>
</html>
