<!-- 여기에 생산일지 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스마트스토어 엑셀관리</title>
    <link rel="stylesheet" href="../../static/css/screens/smartstore.css" />
    <link rel="stylesheet" th:href="@{/css/screens/smartstore.css}" />
  </head>
  <body>
    <!-- 상단 공통메뉴 -->
    <header class="header" data-page-number="3">
      <div class="headerWrap">
        <ul class="headerColumn-left">
          <li class="headerMenu">
            <a th:href="@{/smartStore/main}">시트등록</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/orderList}">데이터 조회/수정</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/productionPlan}">생산일지</a>
          </li>
          <li class="headerMenu">
            <a th:href="@{/smartStore/productList}">상품표</a>
          </li>
        </ul>
        <div class="headerColumn-right">
          <span th:if="${session.SESSIONNAME != null}" class="header-userName"
            >[[${session.SESSIONNAME}]]</span
          >
          <input type="hidden" th:value="${session.SESSIONID}" class="sessionId">
          <button class="header-logoutBtn">로그아웃</button>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <section class="topSection">
        <h1 class="pageTitle">생산일지</h1>
        <div class="top-box">
          <div class="top-box-column">
            <button class="printBtn">출력하기</button>
          </div>
        </div>
      </section>

      <!-- 날짜표시 -->
      <div class="tableDateBox">
        <button class="prevDateBtn" type="button"><</button>
        <input type="date" class="tableDate" th:value="${currentDate}" />
        <button class="nextDateBtn" type="button">></button>
      </div>

      <!-- 해당하는 날짜의 생산일지 테이블 -->
      <section class="tableSection productJournal">
        <table class="table">
          <thead class="theadFix">
            <!-- 테이블 헤드 고정해두기 -->
            <tr>
              <th class="thead modify">수정</th>
              <th class="thead number">번호</th>
              <th class="thead paymentState">결제</th>
              <th class="thead receiverName">수취인</th>
              <th class="thead productFinishTime">생산완료</th>
              <th class="thead reservation">예약</th>
              <th class="thead deliveryStyle">배송형태</th>
              <th class="thead classifyName">구분명</th>
              <th class="thead quantity">수량</th>
              <th class="thead packingMaterial">포장재</th>

              <th class="thead type-duteop">두텁</th>
              <th class="thead type-redbeen">팥</th>
              <th class="thead type-hogo">호고</th>
              <th class="thead type-nutrition">영양</th>
              <th class="thead type-sasong">사송</th>
              <th class="thead type-samsong">삼송</th>
              <th class="thead type-isong">이송</th>
              <th class="thead type-pyeshong">폐송</th>
              <th class="thead type-osong">오송</th>
              <th class="thead type-ssuk">쑥갠</th>
              <th class="thead type-jaseol">자설</th>
              <th class="thead type-danseol">단설</th>
              <th class="thead type-bacseol">백설</th>
              <th class="thead type-bac">百</th>
              <th class="thead type-dol">첫돌</th>
              <th class="thead type-hangwa">한과</th>
              <th class="thead type-susu">수수</th>
              <th class="thead type-cake">케익</th>
              <th class="thead type-etc">기타</th>

              <th class="thead sendDate">비고</th>
            </tr>
          </thead>

          <tbody class="tbody" id="productionInfoTbody">
            <tr
              th:if="${#lists.size(infoList) > 0}"
              th:each="l,n : ${infoList}"
              class="removeTr"
              th:id="${l.orderNum + ',' + l.orderIdx}"
            >
              <td class="tdata modify">
                <!-- 버튼 누르면 해당 행 수정가능상태로 변경 -->
                <button class="modifyRowBt">수정</button>
              </td>
              <td class="tdata number" th:text="${n.index+1}">1</td>
              <td class="tdata changeable-text shippingPayCheck" th:text="${l.shippingPayCheck}" id="shippingPayCheck">
                완료
              </td>
              <!-- menu2 테이블에 수취인~배송형태 컬럼항목 연동 -->
              <td
                class="tdata receiverName changeable-text"
                th:text="${l.receiverName}"
                id="receiverName"
              >
                수취인
              </td>
              <td
                class="tdata productFinishTime changeable-text"
                th:text="${l.productionComp}"
                id="productionComp"
              >
                생산완료
              </td>
              <td
                class="tdata reservation changeable-text"
                th:text="${l.expDeliveryDate}"
                id="expDeliveryDate"
              >
                예약
              </td>
              <td
                class="tdata deliveryStyle changeable-text"
                th:text="${l.shippingAddr}"
                id="shippingAddr"
              >
                배송형태
              </td>
              <td
                class="tdata changeable-text classifyName"
                th:text="${l.productName}"
                th:id="${l.productCode}"
              >
                답례1-3호
              </td>

              <td
                class="tdata quantity changeable-number"
                th:text="${l.orderQuantity}"
                id="orderQuantity"
              >
                1
              </td>

              <!-- 상품표 연동 -->
              <td
                class="tdata changeable-text packingMaterial"
                th:text="${l.wrappingType}"
                id="wrappingType"
              >
                포장재
              </td>

              <!-- 상품표연동+수정가능파트 -->
              <td
                class="tdata changeable-number type-duteop"
                th:text="${l.item01}"
                id="item01"
              >
                두텁
              </td>
              <td
                class="tdata changeable-number type-redbeen"
                th:text="${l.item02}"
                id="item02"
              >
                팥
              </td>
              <td
                class="tdata changeable-number type-hogo"
                th:text="${l.item03}"
                id="item03"
              >
                호고
              </td>
              <td
                class="tdata changeable-number type-nutrition"
                th:text="${l.item04}"
                id="item04"
              >
                영양
              </td>
              <td
                class="tdata changeable-number type-sasong"
                th:text="${l.item05}"
                id="item05"
              >
                사송
              </td>
              <td
                class="tdata changeable-number type-samsong"
                th:text="${l.item06}"
                id="item06"
              >
                삼송
              </td>
              <td
                class="tdata changeable-number type-isong"
                th:text="${l.item07}"
                id="item07"
              >
                이송
              </td>
              <td
                class="tdata changeable-number type-pyeshong"
                th:text="${l.item08}"
                id="item08"
              >
                폐송
              </td>
              <td
                class="tdata changeable-number type-osong"
                th:text="${l.item09}"
                id="item09"
              >
                오송
              </td>
              <td
                class="tdata changeable-number type-ssuk"
                th:text="${l.item10}"
                id="item10"
              >
                쑥갠
              </td>
              <td
                class="tdata changeable-number type-jaseol"
                th:text="${l.item11}"
                id="item11"
              >
                자설
              </td>
              <td
                class="tdata changeable-number type-danseol"
                th:text="${l.item12}"
                id="item12"
              >
                단설
              </td>
              <td
                class="tdata changeable-number type-bacseol"
                th:text="${l.item13}"
                id="item13"
              >
                백설
              </td>
              <td
                class="tdata changeable-number type-bac"
                th:text="${l.item14}"
                id="item14"
              >
                百
              </td>
              <td
                class="tdata changeable-number type-dol"
                th:text="${l.item15}"
                id="item15"
              >
                첫돌
              </td>
              <td
                class="tdata changeable-number type-hangwa"
                th:text="${l.item16}"
                id="item16"
              >
                한과
              </td>
              <td
                class="tdata changeable-number type-susu"
                th:text="${l.item17}"
                id="item17"
              >
                수수
              </td>
              <td
                class="tdata changeable-number type-cake"
                th:text="${l.item18}"
                id="item18"
              >
                케익
              </td>
              <td
                class="tdata changeable-number type-etc"
                th:text="${l.item19}"
                id="item19"
              >
                기타
              </td>

              <td class="tdata note changeable-text" th:text="${l.memo}" id="memo"></td>
            </tr>
          </tbody>
          <!-- 결과값이 없을 경우  -->
          <tbody
            class="noProductionTbody"
            th:unless="${#lists.size(infoList) > 0}"
            style="text-align: center"
          >
            <td colspan="25" th:text="${'생산할 품목이 없습니다.'}"></td>
          </tbody>
        </table>
      </section>

      <!-- 품목별 합계 테이블 -->
      <section class="tableSection">
        <table class="table">
          <thead>
            <tr>
              <th class="thead type">품목</th>
              <th class="thead type-duteop">두텁</th>
              <th class="thead type-redbeen">팥</th>
              <th class="thead type-hogo">호고</th>
              <th class="thead type-nutrition">영양</th>
              <th class="thead type-sasong">사송</th>
              <th class="thead type-samsong">삼송</th>
              <th class="thead type-isong">이송</th>
              <th class="thead type-pyeshong">폐송</th>
              <th class="thead type-osong">오송</th>
              <th class="thead type-ssuk">쑥갠</th>
              <th class="thead type-jaseol">자설</th>
              <th class="thead type-danseol">단설</th>
              <th class="thead type-bacseol">백설</th>
              <th class="thead type-bac">百</th>
              <th class="thead type-dol">첫돌</th>
              <th class="thead type-hangwa">한과</th>
              <th class="thead type-susu">수수</th>
              <th class="thead type-cake">케익</th>
              <th class="thead type-etc">기타</th>
            </tr>
          </thead>
          <!-- 여기에 상단 표 두텁~기타 개수 합계 계산해서 표시됨 -->
          <tbody class="tbody" id="totalItemTbody">
            <tr th:if="${itemTotal != null}" class="removeItemTotalTr">
              <td class="tdead type">품목별 합계</td>
              <td
                class="tdata totalAmount-duteop"
                th:text="${itemTotal.item01total}"
              >
                두텁
              </td>
              <td
                class="tdata totalAmount-redbeen"
                th:text="${itemTotal.item02total}"
              >
                팥
              </td>
              <td
                class="tdata totalAmount-hogo"
                th:text="${itemTotal.item03total}"
              >
                호고
              </td>
              <td
                class="tdata totalAmount-nutrition"
                th:text="${itemTotal.item04total}"
              >
                영양
              </td>
              <td
                class="tdata totalAmount-sasong"
                th:text="${itemTotal.item05total}"
              >
                사송
              </td>
              <td
                class="tdata totalAmount-samsong"
                th:text="${itemTotal.item06total}"
              >
                삼송
              </td>
              <td
                class="tdata totalAmount-isong"
                th:text="${itemTotal.item07total}"
              >
                이송
              </td>
              <td
                class="tdata totalAmount-pyeshong"
                th:text="${itemTotal.item08total}"
              >
                폐송
              </td>
              <td
                class="tdata totalAmount-osong"
                th:text="${itemTotal.item09total}"
              >
                오송
              </td>
              <td
                class="tdata totalAmount-ssuk"
                th:text="${itemTotal.item10total}"
              >
                쑥갠
              </td>
              <td
                class="tdata totalAmount-jaseol"
                th:text="${itemTotal.item11total}"
              >
                자설
              </td>
              <td
                class="tdata totalAmount-danseol"
                th:text="${itemTotal.item12total}"
              >
                단설
              </td>
              <td
                class="tdata totalAmount-bacseol"
                th:text="${itemTotal.item13total}"
              >
                백설
              </td>
              <td
                class="tdata totalAmount-bac"
                th:text="${itemTotal.item14total}"
              >
                百
              </td>
              <td
                class="tdata totalAmount-dol"
                th:text="${itemTotal.item15total}"
              >
                첫돌
              </td>
              <td
                class="tdata totalAmount-hangwa"
                th:text="${itemTotal.item16total}"
              >
                한과
              </td>
              <td
                class="tdata totalAmount-susu"
                th:text="${itemTotal.item17total}"
              >
                수수
              </td>
              <td
                class="tdata totalAmount-cake"
                th:text="${itemTotal.item18total}"
              >
                케익
              </td>
              <td
                class="tdata totalAmount-etc"
                th:text="${itemTotal.item19total}"
              >
                기타
              </td>
            </tr>
          </tbody>
          <tbody
            class="noItemTbody"
            th:unless="${itemTotal != null}"
            style="text-align: center"
          >
            <td colspan="18" th:text="${'생산할 품목이 없습니다.'}"></td>
          </tbody>
        </table>
      </section>
    </div>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/smartstore/common.js"></script>
    <script src="../../static/js/smartstore/production.js"></script>
    <script src="../../static/js/smartstore/tableUpdate_front.js"></script>
    <script src="../../static/js/smartstore/dateManage_front.js"></script>

    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/common.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/production.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/tableUpdate_front.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/smartstore/dateManage_front.js}"
    ></script>
  </body>
</html>
